@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

body {
  background-color: #0e2e2e;
  color: white;
  font-family: "Dancing Script", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-content {
  overflow: hidden;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0e2427;
  width: 100vw;
}

.Book-Background {
  max-height: 80vh;
  width: 100vw;
  opacity: 0.5;
  position: relative;
}

.feder {
  transform: scaleX(-1);
  rotate: 17deg;
  width: 20vw;
  max-width: 200px;
  height: 70vh;
  margin-left: -4vw;
  opacity: 0.2;
  position: relative;
  right: -225px;
  top: -75px;
}

.container {
  width: 90vw;
  max-width: 1200px;
  height: 60vh;
  max-height: 800px;
}

.checkbox {
  display: block;
  position: relative;
  bottom: 120px;
  right: 0;
  list-style: none;
  text-align: right;
  margin-right: auto;
}

.Headline {
  position: relative;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Dancing Script", cursive;
  border-bottom: 4px solid #fff;
}

.box {
  position: relative;
  top: 2px;
  width: 40px;
}

.paragraph {
  display: inline-block;
  margin-top: 8px;
  font-size: 17px;
  font-family: "Dancing Script", cursive;
}

#ja, #nein {
  display: inline-block;
  position: relative;
  top: 205px;
  font-family: "Dancing Script", cursive;
  margin: 0 10px;
}

.liste {
  position: relative;
  left: 40px;
  top: 10px;
}

.logo img {
  width: 13%;
}

.book2 {
  height: 100%;
  width: 100%;
  max-width: 1350px;
  max-height: 580px;
  position: absolute;
  left: 110px;
}

#bookProfil {
  height: 550px;
  width: 100%;
  max-width: 1350px;
  position: relative;
  top: 20px;
  opacity: 0.4;
}

.left-page {
  position: relative;
  bottom: 235px;
  left: 210px;
  width: 30%;
  text-align: right;
}

#description {
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 40vh;
  max-height: 300px;
  width: 28vw;
  max-width: 400px;
  background-color: black;
  color: rgb(0, 255, 255);
  font-family: "Dancing Script";
  font-size: 20px;
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 0 5px 20px 15px rgba(255, 255, 255, 1);
}

#description::placeholder {
  color: rgb(0, 255, 255);
  text-align: center;
  font-size: 20px;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

#savingdescription {
  position: relative;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  background-color: inherit;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  cursor: pointer;
  text-decoration: underline;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
}

#ÜberMich {
  color: white;
}

#rightPage {
  position: relative;
  bottom: 635px;
  left: 510px;
  width: 30%;
  text-align: right;
}

.image-placeholder {
  font-family: "Dancing Script", Times, serif;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  font-size: 18px;
  animation: textShake 0.9s ease infinite;
  margin-left: 20px;
  position: relative;
  top: 110px;
  left: auto;
}

#harrypotter {
  position: relative;
  width: 20%;
  max-width: 200px;
  height: 65%;
  max-height: 400px;
  bottom: 180px;
  left: -35px;
  transform: rotateY(180deg);
  rotate: 20deg;
  opacity: 0.3;
}

@keyframes textShake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#file {
  visibility: hidden;
  width: 0px;
}

#file2 {
  cursor: pointer;
}

.input1 {
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed white;
  color: white;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  width: 80%;
  max-width: 500px;
  font-size: 20px;
  outline: none;
  margin-left: 5px;
  text-align: left;
}

.custom-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed white;
  color: white;
  font-size: 20px;
  outline: none;
  margin-left: 10px;
  width: 50%;
  text-align: left;
}

.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
