@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  background-color: #0e2e2e;
  color: white;
  font-family: "Dancing Script", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-content {
  overflow: hidden;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0e2427;
  width: 100vw;
}

.Book-Background {
  max-height: 80vh;
  width: 100vw;
  position: absolute;
  top: 10%;
}

.feder {
  transform: scaleX(-1);
  rotate: 17deg;
  width: 20vw;
  max-width: 200px;
  height: 70vh;
  margin-left: -4vw;
  opacity: 0.2;
  position: absolute;
  right: 0%;
  top: 0%;
}

.container {
  width: 90vw;
  max-width: 1200px;
  height: 60vh;
  max-height: 800px;
}

.checkbox {
  display: block;
  position: relative;
  bottom: 120px;
  right: 0;
  list-style: none;
  text-align: right;
  margin-right: auto;
}

.Headline {
  position: relative;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Dancing Script", cursive;
  border-bottom: 4px solid #fff;
}

.box {
  position: relative;
  top: 2px;
  width: 40px;
}

.paragraph {
  display: inline-block;
  margin-top: 8px;
  font-size: 17px;
  font-family: "Dancing Script", cursive;
}

.liste {
  position: relative;
  left: 40px;
  top: 10px;
}

.logo img {
  width: 13%;
}

#bookProfil {
  height: 70%;
  width: 80%;
  position: absolute;
  left: 18%;
  top: 17%;
  opacity: 0.5;
}

.left-page {
  position: absolute;
  top: 19%;
  left: 26%;
  width: 32%;
  height: 65%;
  text-align: left;
}

#ÜberMich {
  color: greenyellow;
  font-family: "IBM Plex Mono";
  font-size: 2rem;
}

#description {
  margin-top: 10%;
  height: 30vh;
  width: 15vw;
  color: #012700;
  opacity: 0.8;
  font-size: 18px;
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 0 5px 20px 15px rgba(255, 255, 255, 1);
}

#description::placeholder {
  color: rgb(0, 255, 255);
  text-align: center;
  font-size: 100%;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

#savingdescription {
  position: fixed;
  bottom: 20vh;
  transform: translateX(-50%);
  background-color: inherit;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 120%;
  cursor: pointer;
  text-decoration: underline;
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
}

#rightPage {
  position: absolute;
  top: 19%;
  right: 7%;
  width: 32%;
  height: 65%;
}

.image-placeholder {
  font-family: "Dancing Script", Times, serif;
  width: 13vw;
  height: 23vh;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  animation: textShake 0.9s ease infinite;
  position: fixed;
  top: 25%;
}

@keyframes textShake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#file {
  visibility: hidden;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
}

#file2 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 27%;
  font-size: 100%;
}

.input1 {
  display: inline-block;
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed white;
  color: white;
  font-family: "Times New Roman", serif;
  width: 50%;
  font-size: 20px;
  outline: none;
}

.custom-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed white;
  color: white;
  font-size: 20px;
  outline: none;
  margin-left: 10px;
  width: 50%;
}

.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#federProfil {
  position: fixed;
  top: 17%;
  left: 0%;
  width: 20%;
  height: 65vh;
  transform: scaleX(-1);
  rotate: 20deg;
  opacity: 0.5;
}

.pProfil1 {
  position: fixed;
  top: 49%;
  width: 20%;
  height: 20%;
}

.pProfil2 {
  position: fixed;
  top: 57%;
  width: 20%;
  height: 20%;
}

.pProfil3 {
  position: fixed;
  top: 65%;
  width: 20%;
  height: 20%;
}

.pProfil4 {
  position: fixed;
  top: 75%;
  width: 20%;
  height: 20%;
  font-size: 100%;
}


@media (max-width: 1240px) {

 .image-placeholder{
  width: 15%;
 }

 #federProfil{
  display: none;
 }

 #bookProfil{
  left: 10%;
 }

}