.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2%;
}


.logo {
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

#logoH {
    position: fixed;
    top:0%;
    left: 45%;
    width: 10%;
    height: fit-content;
}


.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.generated-link {
    position: fixed;
    top: 6%;
    left: 2.4%;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 5px;
}

.generated-link a {
    color: #1A73E8;
    text-decoration: none;}

.generated-link a:hover {
    text-decoration: underline;
}

.nav-button {
    background-color: #1A4F63;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #15607A;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 80%;
}

.search-bar input {
    padding: 5px;
    border-radius: 30px;
    border: 1px solid #1A4F63;
    outline: none;
    width: 200px;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.search-results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-results li:last-child {
    border-bottom: none;
}





@media (max-width: 1105px) {


    #logoH{
        display: none;
    }

    .search-bar{
        position: fixed;
        left: 77%;
        top: 2vh;
    }

}



@media (max-width: 960px) {

    .nav-button{
        position:relative;
        top: 0.5vh;
        font-size: 12px;
    }

    .search-bar{
        position: fixed;
        left: 75%;
        top: 2vh;

    }

    .generated-link {
        font-size: 15px;
        top: 8vh;
        left: 2%;
    }
    
}


@media (max-width: 860px) {

    .nav-button{
        position:relative;
        top: 3vh;
        left: 0vw;
        font-size: 12px;
    }

    .search-bar{
        position: fixed;
        left: 70%;
        top: 5vh;
    }

    .generated-link {
        position: fixed;
        font-size: 10px;
        top: 14vh;
        left: 29%;
    }

}




@media (max-width: 717px) {

    .nav-button{
        position:relative;
        top: 2vh;
        left: 17vw;
        font-size: 12px;
    }

    .search-bar{
        position: fixed;
        left: 36%;
        top: 11vh;
    }

    .generated-link{
        top: 16%;
        left: 28%;
    }


}



@media (max-width: 580px) {

    .nav-button{
        position:relative;
        top: 1vh;
        left: 5%;
        font-size: 12px;
    }

    .search-bar{
        position: fixed;
        left: 30%;
        top: 9.4vh;
    }

    .generated-link{
        top: 13.5%;
        left: 20%;
    }


}