#Familienfoto {
    display: flex;
    width: 31%;
    height: 50%;
    position: absolute;
    top: 205px;
    left: 325px;
    opacity: 0.7;
}


#Freunde3{
    position: absolute;
    top: 540px;
    right: 130px;
    border: none;
    background-color: initial;
    font-family: "Dancing Script";
}


#Zurück3{
    position: absolute;
    top: 540px;
    left: 320px;
    border: none;
    background-color: initial;
    font-family: "Dancing Script";
}
