.book-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 8%;
}


#bookinfriends {
  height: 85%;
  width: 110%;
  position: absolute;
  opacity: 0.5;
}


.friends-grid {
  display: flex;
  flex-wrap: wrap; 
  width: 85%;
  position: absolute;
  top: 25%;
  left: 18%;
  justify-content: space-between;
  box-sizing: border-box;
}

.right-side{
  position: absolute;
  right: 25%;
}


.left-side,
.right-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}


.friend img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  color: white;
}


#leftbtn1 {
  position: absolute;
  bottom: -185px;
  left: 220px;
  font-size: 15px;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: black;
}


#rightbtn1 {
  position: absolute;
  bottom: -185px;
  right: 240px;
  font-size: 15px;
  background-color: inherit;
  border: none;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: black;
}


#leftbtn1:disabled,
#rightbtn1:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}