.book-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 5%;
  top: 19%;
}

#bookinfriends {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  opacity: 0.5;
}

.friends-grid {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  position: absolute;
  justify-content: space-between;
  box-sizing: border-box;
  top: 23%;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 9%;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 9%;
}

.left-side,
.right-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.friend img {
  border-radius: 50%;
  width: 100px;
  height: 100%;
  object-fit: cover;
  color: white;
}

#leftbtn1 {
  position: fixed;
  bottom: 17%;
  left: 12%;
  font-size: 15px;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: black;
}

#rightbtn1 {
  position: fixed;
  bottom: 17%;
  right: 12%;
  font-size: 15px;
  background-color: inherit;
  border: none;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: black;
}

#leftbtn1:disabled,
#rightbtn1:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 1280px) {
  .left-side {
    left: 5%;
  }

  .right-side {
    right: 4%;
  }
}

@media (max-width: 1050px) {
  #bookinfriends {
    width: 105%;
  }

  .left-side {
    position: fixed;
    top: 32%;
    left: 19%;
    width: 0%;
  }

  .right-side {
    position: fixed;
    top: 32%;
    right: 38%;
    width: 0%;
  }
}

@media (max-width: 895px) {
  .left-side {
    left: 15%;
    width: 0%;
  }

  .right-side {
    right: 39%;
    width: 0%;
  }

  #bookinfriends {
    width: 105%;
  }
}

@media (max-width: 775px) {
  .left-side {
    left: 13%;
    width: 0%;
  }

  .right-side {
    right: 40%;
    width: 0%;
  }

  #bookinfriends {
    width: 109%;
  }
}

@media (max-width: 700px) {
  .left-side {
    left: 13%;
    width: 0%;
    font-size: 12px;
  }

  .right-side {
    right: 39%;
    width: 0%;
    font-size: 12px;
  }

  #bookinfriends {
    width: 110%;
  }
}

@media (max-width: 620px) {
  .left-side {
    left: 14%;
    width: 0%;
    font-size: 8px;
  }

  .right-side {
    right: 39%;
    width: 0%;
    font-size: 8px;
  }

  #bookinfriends {
    width: 110%;
  }
}

@media (max-width: 556px) {
  .left-side {
    left: 11%;
    width: 0%;
    font-size: 6px;
  }

  .right-side {
    right: 41%;
    width: 0%;
    font-size: 6px;
  }

  #bookinfriends {
    width: 110%;
  }
}

@media (max-width: 476px) {
  .left-side {
    left: 13%;
    width: 0%;
    font-size: 6px;
    gap: 35px;
  }

  .right-side {
    right: 39%;
    width: 0%;
    font-size: 6px;
    gap: 35px;
  }

  #bookinfriends {
    width: 110%;
  }
}

@media (max-width: 412px) {
  .left-side {
    left: 0%;
    width: 0%;
    font-size: 6px;
    gap: 25px;
    position: absolute;
  }

  .right-side {
    right: 35%;
    width: 0%;
    font-size: 6px;
    gap: 25px;
    position: absolute;
  }

  #bookinfriends {
    width: 110%;
  }
}

@media (max-width: 336px) {
  .left-side {
    left: 6%;
    width: 0%;
    font-size: 6px;
    gap: 20px;
    position: absolute;
  }

  .right-side {
    right: 40%;
    width: 0%;
    font-size: 6px;
    gap: 20px;
    position: absolute;
  }

  #bookinfriends {
    top: 10%;
    height: 50%;
    width: 110%;
  }
}




@media (max-width: 300px) {
  .left-side {
    left: 3%;
  }

  .right-side {
    right: 43%;
  }
}




@media (max-width: 260px) {
  .left-side {
    left: -1%;
    gap: 5px
    ;
  }

  .right-side {
    right: 36%;
    gap: 5px

  }
}


@media (max-width: 210px) {
  .left-side {
    left: 10%;
    width: 0%;
    font-size: 6px;
    gap: 6000px;
    position: absolute;
  }

  .right-side {
    right: 25%;
    width: 0%;
    font-size: 6px;
    gap: 2500px;
    position: absolute;
  }

  #bookinfriends {
    position: absolute;
    top: 10%;
    height: 30%;
    width: 110%;
  }
}
