.book-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 8%;
}

#bookinfriends {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 8%;
  opacity: 0.5;
}

.friends-grid {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  position: absolute;
  top: 25%;
  left: 18%;
  justify-content: space-between;
  box-sizing: border-box;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 8%;
  left: 39%;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 8%;
  left: 7%;
}

.left-side,
.right-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.friend img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  color: white;
}

#leftbtn1 {
  position: absolute;
  bottom: -185px;
  left: 220px;
  font-size: 15px;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: black;
}

#rightbtn1 {
  position: absolute;
  bottom: -185px;
  right: 240px;
  font-size: 15px;
  background-color: inherit;
  border: none;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: black;
}

#leftbtn1:disabled,
#rightbtn1:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 1280px) {
  .left-side {
    left: 5%;
  }

  .right-side {
    left: 40%;
  }
}

@media (max-width: 1205px) {
  .left-side {
    left: %;
    width: 20%;
  }

  .right-side {
    left: 43%;
    width: 20%;
  }
}

@media (max-width: 950px) {
  #bookinfriends {
    width: 120%;
  }

  .left-side {
    left: 3%;
    width: 0%;
  }

  .right-side {
    left: 45%;
    width: 0%;
  }
}

@media (max-width: 900px) {
  .left-side {
    left: 0%;
    width: 0%;
  }

  .right-side {
    left: 45%;
    width: 0%;
  }

  #bookinfriends {
    width: 130%;
  }
}

@media (max-width: 800px) {
  .left-side {
    left: -3%;
    width: 0%;
  }

  .right-side {
    left: 42%;
    width: 0%;
  }

  #bookinfriends {
    width: 130%;
  }
}

@media (max-width: 690px) {
  .left-side {
    left: -7%;
    width: 0%;
    font-size: 12px;
  }

  .right-side {
    left: 43%;
    width: 0%;
    font-size: 12px;
  }

  #bookinfriends {
    width: 130%;
  }
}

@media (max-width: 550px) {
  .left-side {
    left: -8%;
    width: 0%;
    font-size: 8px;
  }

  .right-side {
    left: 44%;
    width: 0%;
    font-size: 8px;
  }

  #bookinfriends {
    width: 130%;
  }
}

@media (max-width: 460px) {
  .left-side {
    left: -10%;
    width: 0%;
    font-size: 8px;
  }

  .right-side {
    left: 43%;
    width: 0%;
    font-size: 8px;
  }

  #bookinfriends {
    width: 130%;
  }
}
