#Freunde7{
    position: absolute;
    top: 540px;
    right: 130px;
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
}


#Zurück7{
    position: absolute;
    top: 540px;
    left: 320px;
    border: none;
    background-color: initial;
    font-family: "Dancing Script";
}




#Headline3{
    position: absolute;
    top: 150px;
    left: 325px;
    text-decoration: underline;
  }
  
  
  #paragraph16 {
    position: relative;
    top: 15px;
    display: inline-block;
    left: 350px;
    font-size: 20px;
  }
  
  
  #input16 {
    position: relative;
    left: 530px;
    top: 5px;
    width: 130px;
  }
  
  
  #paragraph17 {
    position: relative;
    top: 5px;
    display: inline-block;
    left: 300px;
    font-size: 20px;
  }
  
  
  #input17 {
    position: relative;
    left: 530px;
    top: -10px;
    width: 130px;
  }
  
  
  #paragraph18 {
    position: relative;
    top: -10px;
    display: inline-block;
    left: 350px;
    font-size: 20px;
  }
  
  
  #input18 {
    position: relative;
    left: 530px;
    top: -10px;
    width: 130px;
  }
  
  
  #paragraph19 {
    position: relative;
    display: inline-block;
    top: -15px;
    left: 300px;
    font-size: 20px;
  }
  
  
  #input19 {
    position: relative;
    left: 530px;
    top: -10px;
    width: 130px;
  }
  
  
  #paragraph20 {
    position: relative;
    top: -30px;
    display: inline-block;
    left: 330px;
    font-size: 20px;
  }
  
  
  #input20 {
    position: relative;
    left: 530px;
    top: -35px;
    width: 130px;
  }