#frdiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#frbook {
  position: fixed;
  top: 12vh;
  right: 0%;
  width: 100vw;
  height: 80vh;
  opacity: 0.5;
}

#Freunde {
  position: absolute;
  top: 78%;
  right: 18%;
  border: none;
  background-color: inherit;
  font-family: "Dancing Script";
  font-size: 15px;
  text-decoration: underline;
  opacity: 1;
}

#Headline {
  position: fixed;
  top: 21vh;
  left: 21vw;
  font-size: 29px;
  text-decoration: underline;
}

.input {
  list-style: none;
  text-align: right;
}

#paragraph {
  position: absolute;
  top: 29%;
  display: inline-block;
  left: 22%;
  font-size: 20px;
}

#input1 {
  position: absolute;
  right: 29%;
  top: 35%;
  width: 10%;
}

#paragraph2 {
  position: absolute;
  top: 850%;
  display: inline-block;
  left: -170%;
  font-size: 20px;
}

#input2 {
  position: relative;
  right: -72.6%;
  top: 31vh;
  width: 75%;
}

#paragraph3 {
  position: absolute;
  top: 1050%;
  display: inline-block;
  left: -230%;
  font-size: 20px;
}

#input3 {
  position: relative;
  right: -72.6%;
  top: 37vh;
  width: 75%;
}

#paragraph4 {
  position: absolute;
  top: 1250%;
  display: inline-block;
  left: -220%;
  font-size: 20px;
  text-align: center;
}

#input4 {
  position: relative;
  right: -72.6%;
  top: 44vh;
  width: 75%;
}

#paragraph5 {
  position: absolute;
  top: 1480%;
  display: inline-block;
  left: -230%;
  font-size: 20px;
  text-align: center;
}

#input5 {
  position: relative;
  right: -72.6%;
  top: 51vh;
  width: 75%;
}




@media (max-width: 1403px) {
  #Headline {
    font-size: 23px;
    left: 22%;
  }

  #frbook {
    width: 100%;
  }

  #paragraph {
    font-size: 17px;
    width: 25%;
    left: 20%;
  }

  #input {
    left: 24%;
  }

  #paragraph1 {
    font-size: 17px;
    left: 22%;
  }

  #input1 {
    left: 24%;
  }

  #paragraph2 {
    font-size: 17px;
  }

  #input2 {
  }

  #paragraph3 {
    font-size: 17px;
  }

  #input3 {
  }

  #paragraph4 {
    font-size: 17px;
  }

  #input4 {
  }
}

@media (max-width: 1322px) {
  #Headline {
    font-size: 23px;
    left: 21%;
  }

  #frbook {
    width: 100%;
  }

  #paragraph {
    font-size: 17px;
    left: 19%;
    width: 30%;
  }

  #input {
    left: 26%;
  }

  #paragraph1 {
    font-size: 15px;
    left: 24%;
  }

  #input1 {
    left: 26%;
  }

  #paragraph2 {
    font-size: 17px;
    right: 25%;
  }

  #input2 {
    right: 26%;
  }

  #paragraph3 {
    font-size: 17px;
    right: 25%;
  }

  #input3 {
    right: 26%;
  }

  #paragraph4 {
    font-size: 17px;
    right: 24.5%;
  }

  #input4 {
    right: 26%;
  }
}

@media (max-width: 1105px) {
  #Headline {
    font-size: 22px;
    left: 18%;
  }
  #frbook {
    width: 125%;
    left: -12%;
  }

  #Freunde {
    top: 78vh;
    right: 10%;
  }

  #Zurück {
    top: 78vh;
    left: 9%;
  }

  #paragraph {
    font-size: 17px;
    left: 13%;
    width: 35%;
  }

  #input {
    left: 23%;
  }

  #paragraph1 {
    font-size: 15px;
    left: 20%;
  }

  #input1 {
    left: 23%;
  }

  #paragraph2 {
    font-size: 17px;
    right: 18%;
  }

  #input2 {
    right: 21%;
  }

  #paragraph3 {
    font-size: 17px;
    right: 19%;
  }

  #input3 {
    right: 21%;
  }

  #paragraph4 {
    font-size: 17px;
    right: 17%;
  }

  #input4 {
    right: 20%;
  }
}

@media (max-width: 859px) {
  #Headline {
    font-size: 22px;
    left: 11%;
  }
  #frbook {
    width: 130%;
    left: -14%;
  }

  #paragraph {
    font-size: 15px;
    left: 16%;
    width: 30%;
  }

  #input {
    left: 23%;
  }

  #paragraph1 {
    font-size: 15px;
    left: 21%;
  }

  #input1 {
    left: 23%;
  }

  #paragraph2 {
    font-size: 15px;
    right: 15%;
  }

  #input2 {
    right: 19%;
  }

  #paragraph3 {
    font-size: 15px;
    right: 16%;
  }

  #input3 {
    right: 19%;
  }

  #paragraph4 {
    font-size: 15px;
    right: 14%;
  }

  #input4 {
    right: 19%;
  }
}

@media (max-width: 782px) {
  #Headline {
    font-size: 18px;
    left: 11%;
  }
  #frbook {
    width: 130%;
  }

  #paragraph {
    font-size: 15px;
    left: 15%;
  }

  #input {
    left: 22%;
  }

  #paragraph1 {
    font-size: 15px;
    left: 20%;
  }

  #input1 {
    left: 22%;
  }

  #paragraph2 {
    font-size: 15px;
    right: 13%;
  }

  #input2 {
    right: 19%;
  }

  #paragraph3 {
    font-size: 15px;
    right: 14%;
  }

  #input3 {
    right: 19%;
  }

  #paragraph4 {
    font-size: 15px;
    right: 12%;
  }

  #input4 {
    right: 19%;
  }
}

@media (max-width: 736px) {
  #Headline {
    font-size: 17px;
    left: 9%;
  }
  #frbook {
    width: 130%;
  }

  #paragraph {
    font-size: 14px;
    left: 15%;
  }

  #input {
    left: 22%;
  }

  #paragraph1 {
    font-size: 14px;
    left: 20%;
  }

  #input1 {
    left: 22%;
  }

  #paragraph2 {
    font-size: 14px;
    right: 13%;
  }

  #input2 {
  }

  #paragraph3 {
    font-size: 14px;
    right: 15%;
  }

  #input3 {
    right: 20%;
  }

  #paragraph4 {
    font-size: 14px;
    right: 13%;
  }

  #input4 {
  }
}

@media (max-width: 664px) {
  #Headline {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #frbook {
    width: 130%;
  }

  #Freunde {
    top: 78vh;
    right: 8%;
  }

  #Zurück {
    top: 78vh;
    left: 7%;
  }

  #paragraph {
    font-size: 13px;
    left: 15%;
  }

  #input {
    left: 22%;
  }

  #paragraph1 {
    font-size: 13px;
    left: 20%;
  }

  #input1 {
    left: 22%;
  }

  #paragraph2 {
    font-size: 13px;
    right: 14%;
  }

  #input2 {
  }

  #paragraph3 {
    font-size: 13px;
    right: 15%;
  }

  #input3 {
    right: 20%;
  }

  #paragraph4 {
    font-size: 13px;
    right: 13%;
  }

  #input4 {
  }
}

@media (max-width: 599px) {
  #Headline {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #frbook {
    width: 130%;
  }

  #Freunde {
    top: 78vh;
    right: 8%;
  }

  #Zurück {
    top: 78vh;
    left: 7%;
  }

  #paragraph {
    font-size: 13px;
    left: 13%;
  }

  #input {
    left: 20%;
  }

  #paragraph1 {
    font-size: 13px;
    left: 19%;
  }

  #input1 {
    left: 20%;
  }

  #paragraph2 {
    font-size: 13px;
    right: 12%;
  }

  #input2 {
  }

  #paragraph3 {
    font-size: 13px;
    right: 13%;
  }

  #input3 {
    right: 20%;
  }

  #paragraph4 {
    font-size: 13px;
    right: 10%;
  }

  #input4 {
    right: 20%;
  }
}

@media (max-width: 545px) {
  #Headline {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #frbook {
    width: 130%;
  }

  #Freunde {
    top: 78vh;
    right: 8%;
  }

  #Zurück {
    top: 78vh;
    left: 7%;
  }

  #paragraph {
    font-size: 11px;
    left: 13%;
  }

  #input {
    left: 20%;
  }

  #paragraph1 {
    font-size: 11px;
    left: 19%;
  }

  #input1 {
    left: 20%;
  }

  #paragraph2 {
    font-size: 11px;
    right: 12%;
  }

  #input2 {
  }

  #paragraph3 {
    font-size: 11px;
    right: 13%;
  }

  #input3 {
    right: 20%;
  }

  #paragraph4 {
    font-size: 11px;
    right: 10%;
  }

  #input4 {
    right: 20%;
  }
}
