#Book-Background19 {
  position: fixed;
  top: 20vh;
  right: 5%;
  width: 90vw;
  height: 65vh;
  opacity: 0.5;
}

#Freunde19 {
  position: absolute;
  top: 78%;
  right: 10%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück19 {
  position: absolute;
  top: 78%;
  left: 10%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline19 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}

#paragraph46 {
  position: fixed;
  top: 40%;
  width: 30%;
  left: 15%;
  font-size: 20px;
}

#input46 {
  position: fixed;
  top: 51vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph47 {
  position: fixed;
  top: 60%;
  left: 15%;
  width: 30%;
  font-size: 20px;
}

#input47 {
  position: fixed;
  top: 72vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph48 {
  position: fixed;
  top: 24%;
  right: 13vw;
  width: 30%;
  font-size: 20px;
}

#input48 {
  position: fixed;
  top: 33vh;
  right: 20.5vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph49 {
  position: fixed;
  top: 42%;
  right: 16%;
  width: 30%;
  font-size: 20px;
}

#input49 {
  position: fixed;
  top: 51vh;
  right: 22.8vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph50 {
  position: fixed;
  top: 63%;
  right: 11%;
  width: 30%;
  font-size: 20px;
}

#input50 {
  position: fixed;
  top: 72vh;
  right: 18.5vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#liste19 {
  list-style-type: none;
}

@media (max-width: 1403px) {
  #Headline19 {
    font-size: 23px;
    left: 18%;
  }

  #paragraph46 {
    font-size: 20px;

    left: 15%;
  }

  #input46 {
    left: 23%;
  }

  #paragraph47 {
    font-size: 20px;
    left: 13%;
  }

  #input47 {
    left: 20%;
  }

  #paragraph48 {
    font-size: 17px;
  }

  #paragraph49 {
    font-size: 17px;
  }

  #paragraph50 {
    font-size: 17px;
  }
}

@media (max-width: 1322px) {
  #paragraph47 {
    width: 30%;
    left: 13%;
  }

  #paragraph48 {
    font-size: 20px;
    right: 16%;
  }

  #input48 {
    right: 23%;
  }

  #paragraph49 {
    font-size: 20px;
    right: 12%;
  }

  #input49 {
    right: 20%;
  }

  #paragraph50 {
    font-size: 20px;
    right: 10%;
  }

  #input50 {
    right: 18%;
  }
}

@media (max-width: 1135px) {
  #paragraph46 {
    font-size: 18px;
    left: 13%;
    width: 35%;
  }

  #input46 {
    left: 23%;
  }

  #paragraph47 {
    font-size: 18px;
    left: 16%;
    top: 62%;
  }

  #input47 {
    left: 23%;
  }

  #paragraph48 {
    font-size: 18px;
    right: 13%;
  }

  #input48 {
    right: 21%;
  }

  #paragraph49 {
    font-size: 18px;
    right: 13%;
  }

  #input49 {
    right: 21%;
  }

  #paragraph50 {
    font-size: 18px;
    right: 12%;
  }

  #input50 {
    right: 20%;
  }
}

@media (max-width: 990px) {

  #Freunde19{
    top: 78%;
    right: 8%;
  }

  #Zurück19{
    top: 78%;
    left: 8%;
  }

  
  #Headline19 {
    font-size: 22px;
    left: 11%;
  }
  #Book-Background19 {
    width: 95%;
    left: 2.5%;
  }

  #paragraph46 {
    font-size: 17px;
    left: 13%;
    top: 42%;
  }

  #input46 {
    left: 23%;
  }

  #paragraph47 {
    font-size: 18px;
    left: 15%;
    top: 60%;
  }

  #input47 {
    left: 23%;
  }

  #paragraph48 {
    font-size: 17px;
    right: 11%;
  }

  #input48 {
    right: 19%;
  }

  #paragraph49 {
    font-size: 17px;
    right: -24%;
    width: 100%;
  }

  #input49 {
    right: 19%;
  }

  #paragraph50 {
    font-size: 17px;
    right: -24%;
    width: 100%;
  }

  #input50 {
    right: 19%;
  }
}

@media (max-width: 850px) {

  
  #Freunde19{
    top: 78%;
    right: 8%;
  }

  #Zurück19{
    top: 78%;
    left: 8%;
  }

  #paragraph46 {
    font-size: 16px;
    left: 12%;
  }

  #input46 {
    left: 22%;
  }

  #paragraph47 {
    font-size: 16px;
    left: 14%;
  }

  #input47 {
    left: 22%;
  }

  #paragraph48 {
    font-size: 16px;
    right: 12%;
  }

  #input48 {
    right: 19%;
  }

  #paragraph49 {
    font-size: 16px;
    right: 10%;
    width: 39%;
  }

  #input49 {
    right: 22%;
  }

  #paragraph50 {
    font-size: 16px;
    right: 11%;
    width: 39%;
  }

  #input50 {
    right: 24%;
  }
}

@media (max-width: 735px) {


  #Freunde19{
    top: 78%;
    right: 8%;
  }

  #Zurück19{
    top: 78%;
    left: 8%;
  }


  #Headline19 {
    font-size: 16.5px;
  }

  #paragraph46 {
    font-size: 15px;
    left: 12%;
  }

  #input46 {
    left: 22%;
  }

  #paragraph47 {
    font-size: 15px;
    left: 15%;
  }

  #input47 {
    left: 22%;
  }

  #paragraph48 {
    font-size: 15px;
    right: 12%;
  }

  #paragraph49 {
    font-size: 15px;
    right: 12%;
    top: 40%;
    width: 33%;
  }

  #input49 {
    right: 20%;
  }

  #paragraph50 {
    font-size: 15px;
    top: 60%;
    right: 14%;
    width: 33%;
  }
}

@media (max-width: 577px) {
  #Headline19 {
    font-size: 15px;
  }


  #paragraph46 {
    top: 40%;
    font-size: 14px;
    left: 11%;
  }

  #input46 {
    left: 20%;
  }

  #paragraph47 {
    font-size: 14px;
    left: 13%;
  }

  #input47 {
    left: 20%;
  }

  #paragraph48 {
    font-size: 14px;
    right: 11%;
  }

  #paragraph49 {
    font-size: 14px;
    right: 11%;
  }

  #input49 {
    right: 20%;
  }

  #paragraph50 {
    font-size: 14px;
    right: 10%;
  }

  #input50 {
    right: 20%;
  }
}

@media (max-width: 488px) {
  #Headline19 {
    font-size: 16px;
    left: 14%;
    width: 29%;
  }

  
  
  #paragraph46 {
    font-size: 14px;
  }
  #paragraph47 {
    font-size: 14px;
  }


  #paragraph48 {
    font-size: 14px;
    right: 11%;
    top: 21%;
    width: 30%;
  }

  #paragraph49 {
    font-size: 14px;
    right: 12%;
    width: 32%;
  }

  #input49 {
    right: 20%;
  }

  #paragraph50 {
    font-size: 14px;
    right: 10%;
  }

  #input50 {
    right: 20%;
  }
}


@media (max-width: 365px) {
  #paragraph46 {
    font-size: 13px;
  }

  #paragraph47 {
    font-size: 13px;
    width: 39%;
    left:11% ;
  }

  #input47 {
    left: 22%;
  }

  #paragraph48 {
    font-size: 13px;
    top: 22%;
    right:12%;
  }

  #paragraph49 {
    font-size: 13px;
  }

  #paragraph50 {
    font-size: 13px;
  }
}

@media (max-width: 310px) {
  #paragraph46 {
    font-size: 12px;
    width: 40%;
    left: 9%;
  }

  #paragraph47 {
    font-size: 12px;
    width: 39%;
    left: 10%;
  }

  #paragraph48 {
    font-size: 12px;
    top: 21%;
    right: 11%;
    width: 36%;
  }

  #input48 {
    right: 22%;
  }

  #paragraph49 {
    font-size: 12px;
  }

  #paragraph50 {
    font-size: 12px;
  }
}

@media (max-width: 233px) {
  #paragraph46 {
    font-size: 9px;
    
  }

  #paragraph47 {
    font-size: 9px;

    width: 39%;
    left: 10%;
  }

  #paragraph48 {
    font-size: 9px;

    top: 21%;
    right: 6.5%;
    width: 46%;
  }

  #input48 {
    right: 22%;
  }

  #paragraph49 {
    font-size: 9px;
    
  }

  #paragraph50 {
    font-size: 9px;
    
  }
}

@media (max-width: 200px) {
  #paragraph46 {
    font-size: 9px;
  }

  #paragraph47 {
    font-size: 9px;

    width: 39%;
    left: 10%;
  }

  #paragraph48 {
    font-size: 9px;

    top: 21%;
    right: 6.5%;
    width: 46%;
  }

  #input48 {
    right: 22%;
  }

  #paragraph49 {
    font-size: 9px;
  }

  #paragraph50 {
    font-size: 9px;
  }

  #Headline19 {
    font-size: 12px;
    width: 37%;
    left: 10%;
  }
}

@media (max-width: 180px) {
  #paragraph46 {
    font-size: 8.5px;
  }

  #paragraph47 {
    font-size: 8.5px;

    width: 39%;
    left: 10%;
  }

  #paragraph48 {
    font-size: 8.5px;

    top: 21%;
    right: 6.5%;
    width: 46%;
  }

  #input48 {
    right: 22%;
  }

  #paragraph49 {
    font-size: 8.5px;
  }

  #paragraph50 {
    font-size: 8.5px;
  }

  #Headline19 {
    font-size: 10px;
    width: 41%;
    left: 8%;
  }
}

@media (max-width: 165px) {
  #paragraph46 {
    font-size: 8px;
  }

  #paragraph47 {
    font-size: 8px;

    width: 39%;
    left: 10%;
  }

  #paragraph48 {
    font-size: 8px;

    top: 21%;
    right: 10%;
    width: 36%;
  }

  #input48 {
    right: 22%;
  }

  #paragraph49 {
    font-size: 8px;
    width: 24%;
    right: 15%;
  }

  #paragraph50 {
    font-size: 8px;
  }

  #Headline19 {
    font-size: 8.5px;
    text-align: left;
    width: 38%;
    left: 11%;
  }
}
