#Book-Background5{
  position: absolute;
  right: 1%;
  width: 100%;
  height: 80vh;
  opacity: 0.5;
}


#Freunde5 {
  position: absolute;
  top: 76%;
  right: 19%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück5 {
  position: absolute;
  top: 76%;
  left: 17%;
  font-size: 100%;
  border: none;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline2 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}


#paragraph11 {
  position: absolute;
  top: 30%;
  right: 55%;
  font-size: 20px;
}


#input11 {
  position: absolute;
  top: 34vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}


#paragraph12 {
  
  position: absolute;
  top: 39%;
  right: 60%;
  font-size: 20px;
}


#input12 {
  
  position: absolute;
  top: 44vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}


#paragraph13 {
  
  position: absolute;
  top: 49%;
  right: 52%;
  font-size: 20px;
}


#input13 {
   
  position: absolute;
  top: 54vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}


#paragraph14 {
  
  position: absolute;
  top: 60%;
  right: 64%;
  font-size: 20px;
}


#input14 {
  
  position: absolute;
  top: 63vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}


#paragraph15 {  
  position: absolute;
  top: 69%;
  right: 55%;
  font-size: 20px;
}


#input15 {
  position: absolute;
  top: 72vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}



#liste5{
  list-style-type: none;
}