#Book-Background11{
  position: fixed;
  top: 12vh;
  right: 0%;
  width: 100vw;
  height: 80vh;
  opacity: 0.5;
}


#Freunde11 {
  position: absolute;
  top: 78%;
  right: 18%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück11 {
  position: absolute;
  top: 79%;
  left: 16%;
  font-size: 100%;
  border: none;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline11 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}


#paragraph26 {  
  
  position: fixed;
  top: 45%;
  left: 21%;
  font-size: 20px;
}


#input26{
  
  position: fixed;
  top: 51vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph27 {  
  
  position: fixed;
  top: 60%;
  left: 20%;
  font-size: 20px;
  width: 19%;
}


#input27 {
  
  position: fixed;
  top: 72vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;

}

#paragraph28 {
  
  position: fixed;
  top: 24%;
  right: 27%;
  font-size: 20px;
}

#input28 {
  
  position: fixed;
  top: 33vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}


#paragraph29 {
  
  position: fixed;
  top: 42%;
  right: 27.5%;
  font-size: 20px;
}


#input29 {  
  position: fixed;
  top: 51vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}


#paragraph30 {  
  
  position: fixed;
  top: 63%;
  right: 26%;
  font-size: 20px;
}


#input30 {
   
  position: fixed;
  top: 72vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;

}


#liste11{
  list-style-type: none;
}




@media (max-width: 1403px) {
  #Headline11 {
    font-size: 23px;
    left: 22%;
  }

  #Book-Background11 {
    width: 100%;
  }

  #paragraph26 {
    font-size: 17px;
    width: 25%;
    left: 20%;

  }

  #input26 {
    left: 24%;
  }

  #paragraph27 {
    font-size: 17px;
    left: 22%;
  }

  #input27 {
    left: 24%;
  }

  #paragraph28 {
    font-size: 17px;
  }

  #input28 {
  }

  #paragraph29 {
    font-size: 17px;
  }

  #input29 {
  }

  #paragraph30 {
    font-size: 17px;
  }

  #input30 {
  }
}

@media (max-width: 1322px) {
  #Headline11 {
    font-size: 23px;
    left: 21%;
  }

  #Book-Background11 {
    width: 100%;
  }

  #paragraph26 {
    font-size: 17px;
    left: 19%;
    width: 30%;
  }

  #input26 {
    left: 26%;
  }

  #paragraph27 {
    font-size: 15px;
    left: 24%;
  }

  #input27 {
    left: 26%;
  }

  #paragraph28 {
    font-size: 17px;
    right: 25%;
  }

  #input28 {
    right: 26%;
  }

  #paragraph29 {
    font-size: 17px;
    right: 25%;
  }

  #input29 {
    right: 26%;
  }

  #paragraph30 {
    font-size: 17px;
    right: 24.5%;
  }

  #input30 {
    right: 26%;
  }
}



@media (max-width: 1105px) {
  #Headline11 {
    font-size: 22px;
    left: 18%;
  }
  #Book-Background11 {
    width: 125%;
    left: -12%;
  }

  #Freunde11 {
    top: 78vh;
    right: 10%;
  }

  #Zurück11 {
    top: 78vh;
    left: 9%;
  }

  #paragraph26 {
    font-size: 17px;
    left: 13%;
    width: 35%;
  }

  #input26 {
    left: 23%;
  }

  #paragraph27 {
    font-size: 15px;
    left: 20%;
  }

  #input27 {
    left: 23%;
  }

  #paragraph28 {
    font-size: 17px;
    right: 18%;
  }

  #input28 {
    right: 21%;
  }

  #paragraph29 {
    font-size: 17px;
    right: 19%;
  }

  #input29 {
    right: 21%;
  }

  #paragraph30 {
    font-size: 17px;
    right: 17%;
  }

  #input30 {
    right: 20%;
  }
}

@media (max-width: 859px) {
  #Headline11 {
    font-size: 22px;
    left: 11%;
  }
  #Book-Background11 {
    width: 130%;
    left: -14%;
  }

  
  #paragraph26 {
    font-size: 15px;
    left: 16%;
    width: 30%;
  }

  #input26 {
    left: 23%;
  }

  #paragraph27 {
    font-size: 15px;
    left: 21%;
  }

  #input27 {
    left: 23%;
  }

  #paragraph28 {
    font-size: 15px;
    right: 15%;
  }

  #input28 {
    right: 19%;
  }

  #paragraph29 {
    font-size: 15px;
    right: 16%;
  }

  #input29 {
    right: 19%;
  }

  #paragraph30 {
    font-size: 15px;
    right: 14%;
  }

  #input30 {
    right: 19%;
  }
}

@media (max-width: 782px) {
  #Headline11 {
    font-size: 18px;
    left: 11%;
  }
  #Book-Background11 {
    width: 130%;
  }

  
  #paragraph26 {
    font-size: 15px;
    left: 15%;
  }

  #input26 {
    left: 22%;
  }

  #paragraph27 {
    font-size: 15px;
    left: 20%;
  }

  #input27 {
    left: 22%;
  }

  #paragraph28 {
    font-size: 15px;
    right: 13%;
  }

  #input28 {
    right: 19%;
  }

  #paragraph29 {
    font-size: 15px;
    right: 14%;
  }

  #input29 {
    right: 19%;
  }

  #paragraph30 {
    font-size: 15px;
    right: 12%;
  }

  #input30 {
    right: 19%;
  }
}

@media (max-width: 736px) {
  #Headline11 {
    font-size: 17px;
    left: 9%;
  }
  #Book-Background11 {
    width: 130%;
  }

  
  #paragraph26 {
    font-size: 14px;
    left: 15%;
  }

  #input26 {
    left: 22%;
  }

  #paragraph27 {
    font-size: 14px;
    left: 20%;
  }

  #input27 {
    left: 22%;
  }


  #paragraph28{

    font-size: 14px;
    right: 13%;
  }

  #input28{

  }

  
  #paragraph29{
    font-size: 14px;
    right: 15%;
  }

  #input29{
    right: 20%;
  }

  #paragraph30{
    font-size: 14px;
    right: 13%;
    
  }

  #input30{

  }

}

@media (max-width: 664px) {
  #Headline11 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background11 {
    width: 130%;
  }

  #Freunde11 {
    top: 78vh;
    right: 8%;
  }

  #Zurück11 {
    top: 78vh;
    left: 7%;
  }


  
  #paragraph26 {
    font-size: 13px;
    left: 15%;
  }

  #input26 {
    left: 22%;
  }

  #paragraph27 {
    font-size: 13px;
    left: 20%;
  }

  #input27 {
    left: 22%;
  }


  #paragraph28{

  font-size: 13px;
    right: 14%;
  }

  #input28{

  }

  
  #paragraph29{
    font-size: 13px;
    right: 15%;
  }

  #input29{
    right: 20%;
  }

  #paragraph30{
    font-size: 13px;
    right: 13%;
    
  }

  #input30{

  }
}


@media (max-width: 599px) {

  #Headline11 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background11 {
    width: 130%;
  }

  #Freunde11 {
    top: 78vh;
    right: 8%;
  }

  #Zurück11 {
    top: 78vh;
    left: 7%;
  }

  #paragraph26 {
    font-size: 13px;
    left: 13%;
  }

  #input26 {
    left: 20%;
  }

  #paragraph27 {
    font-size: 13px;
    left: 19%;
  }

  #input27 {
    left: 20%;
  }


  #paragraph28{

font-size: 13px;
    right: 12%;
  }

  #input28{

  }

  
  #paragraph29{
    font-size: 13px;
    right: 13%;
  }

  #input29{
    right: 20%;
  }

  #paragraph30{
    font-size: 13px;
    right: 10%;
    
  }

  #input30{
    right: 20%;
  }
}



  
@media (max-width: 545px) {

  #Headline11 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background11 {
    width: 130%;
  }

  #Freunde11 {
    top: 78vh;
    right: 8%;
  }

  #Zurück11 {
    top: 78vh;
    left: 7%;
  }

  #paragraph26 {
    font-size: 11px;
    left: 13%;
  }

  #input26 {
    left: 20%;
  }

  #paragraph27 {
    font-size: 11px;
    left: 19%;
  }

  #input27 {
    left: 20%;
  }


  #paragraph28{

font-size: 11px;
    right: 12%;
  }

  #input28{

  }

  
  #paragraph29{
    font-size: 11px;
    right: 13%;
  }

  #input29{
    right: 20%;
  }

  #paragraph30{
    font-size: 11px;
    right: 10%;
    
  }

  #input30{
    right: 20%;
  }

}