#Freunde9{
    position: absolute;
    top: 540px;
    right: 130px;
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
}


#Zurück9{
    position: absolute;
    top: 540px;
    left: 320px;
    border: none;
    background-color: initial;
    font-family: "Dancing Script";
}




#Headline4 {
    position: absolute;
    top: 150px;
    left: 325px;
    text-decoration: underline;
  }
  
  
  #paragraph21 {
    position: relative;
    top: 15px;
    display: inline-block;
    left: 350px;
    font-size: 20px;
  }
  
  
  #input21 {
    position: relative;
    left: 530px;
    top: 15px;
    width: 130px;
  }
  
  
  #paragraph22 {
    position: relative;
    top: -5px;
    display: inline-block;
    left: 270px;
    font-size: 20px;
  }
  
  
  #input22 {
    position: relative;
    left: 530px;
    top: -5px;
    width: 130px;
  }
  
  
  #paragraph23 {
    position: relative;
    top: -25px;
    display: inline-block;
    left: 200px;
    font-size: 20px;
  }
  
  
  #input23 {
    position: relative;
    left: 530px;
    top: -25px;
    width: 130px;
  }
  
  
  #paragraph24 {
    position: relative;
    display: inline-block;
    top: -35px;
    left: 370px;
    font-size: 20px;
  }
  
  
  #input24 {
    position: relative;
    left: 530px;
    top: -45px;
    width: 130px;
  }
  
  
  #paragraph25 {
    position: relative;
    top: -45px;
    display: inline-block;
    left: 350px;
    font-size: 20px;
  }
  
  
  #input25 {
    position: relative;
    left: 530px;
    top: -45px;
    width: 130px;
  }