#Freunde11{
    position: absolute;
    top: 540px;
    right: 130px;
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
}


#Zurück11{
    position: absolute;
    top: 540px;
    left: 320px;
    border: none;
    background-color: initial;
    font-family: "Dancing Script";
}



#Headline5 {
    position: absolute;
    top: 150px;
    left: 325px;
    text-decoration: underline;
  }
  
  
  #paragraph26 {
    position: relative;
    top: 15px;
    display: inline-block;
    left: 350px;
    font-size: 20px;
  }
  
  
  #input26 {
    position: relative;
    left: 530px;
    top: 15px;
    width: 130px;
  }
  
  
  #paragraph27{
    position: relative;
    top: -5px;
    display: inline-block;
    left: 380px;
    font-size: 20px;
  }
  
  
  #input27 {
    position: relative;
    left: 530px;
    top: -5px;
    width: 130px;
  }
  
  
  #paragraph28 {
    position: relative;
    top: -25px;
    display: inline-block;
    left: 350px;
    font-size: 20px;
  }
  
  
  #input28 {
    position: relative;
    left: 530px;
    top: -25px;
    width: 130px;
  }
  
  
  #paragraph29 {
    position: relative;
    display: inline-block;
    top: -35px;
    left: 370px;
    font-size: 20px;
  }
  
  
  #input29 {
    position: relative;
    left: 530px;
    top: -45px;
    width: 130px;
  }
  
  
  #paragraph30 {
    position: relative;
    top: -45px;
    display: inline-block;
    left: 220px;
    font-size: 20px;
  }
  
  
  #input30 {
    position: relative;
    left: 530px;
    top: -45px;
    width: 130px;
  }