#Book-Background13{
  position: fixed;
  top: 12vh;
  right: 0%;
  width: 100vw;
  height: 80vh;
  opacity: 0.5;
}


#Freunde13 {
  position: absolute;
  top: 78%;
  right: 18%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück13 {
  position: absolute;
  top: 79%;
  left: 16%;
  font-size: 100%;
  border: none;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline13 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}


#radio1{

position: fixed;
left: 44%;
top: 48.5%;
}




#radio2{
  position: fixed;
  left: 46.5%;
  top: 48.5%;  
}


#paragraph31 {  
  position: fixed;
  top: 45%;
  left: 18%;
  font-size: 23px;
}



#radio3{
  position: fixed;
  left: 41%;
  top: 66.5%;  

}


#radio4{
  position: fixed;
  left: 43.5%;
  top: 66.5%;  

}

#paragraph32 {  
  
  position: fixed;
  top: 63%;
  left: 22%;
  font-size: 23px;
}




#paragraph33 {
  
  position: fixed;
  top: 24%;
  right: 25%;
  font-size: 23px;
}

#radio5{
  position: fixed;
  right: 23%;
  top: 27.5%;  
}


#radio6{
  position: fixed;
  right: 21%;
  top: 27.5%;  
}




#paragraph34 {
  
  position: fixed;
  top: 42%;
  right: 25.5%;
  font-size: 23px;
}

#radio7{
  position: fixed;
  right:  23%;
  top: 45.5%;  
}

#radio8{
  position: fixed;
  right: 21%;
  top: 45.5%;  
}






#paragraph35 {  
  
  position: fixed;
  top: 63%;
  right: 26%;
  font-size: 23px;
}

#radio9{
  position: fixed;
  top: 66.5%;
  right: 24%;
}



#radio10{
  position: fixed;
  top: 66.5%;
  right: 22%;
}




#liste13{
  list-style-type: none;
}




@media (max-width: 1403px) {
  #Headline13 {
    font-size: 23px;
    left: 22%;
  }

  #Book-Background13 {
    width: 100%;
  }

  #paragraph31 {
    font-size: 17px;
    width: 25%;
    left: 20%;

  }


  #paragraph32 {
    font-size: 17px;
  }


  #paragraph33 {
    font-size: 17px;
  }


  #paragraph34 {
    font-size: 17px;
  }

  

  #paragraph35 {
    font-size: 17px;
  }

  
}

@media (max-width: 1322px) {
  #Headline13 {
    font-size: 23px;
    left: 21%;
  }

  #Book-Background13 {
    width: 100%;
  }

  #paragraph31 {
    font-size: 17px;
    left: 19%;
    width: 30%;
  }


  #paragraph32 {
    font-size: 15px;
    left: 19%;
  }


  #paragraph33 {
    font-size: 17px;
    right: 23%;
  }


  #paragraph34 {
    font-size: 17px;
    right: 25%;
  }

  

  #paragraph35 {
    font-size: 17px;
    right: 24.5%;
  }

  
}



@media (max-width: 1005px) {
  #Headline13 {
    font-size: 22px;
    left: 13.5%;
  }
  #Book-Background13 {
    width: 125%;
    left: -12%;
  }

  #Freunde13 {
    top: 78vh;
    right: 10%;
  }

  #Zurück13 {
    top: 78vh;
    left: 9%;
  }

  #paragraph31 {
    font-size: 17px;
    left: 13%;
    width: 35%;
  }

  

  #paragraph32 {
    font-size: 15px;
    left: 16%;
  }


  #paragraph33 {
    font-size: 17px;
    right: 15%;
  }


  #paragraph34 {
    font-size: 17px;
    right: 16%;
  }

  #paragraph35 {
    font-size: 17px;
    right: 15%;
  }

  
}

@media (max-width: 859px) {
  #Headline13 {
    font-size: 22px;
    left: 11%;
  }
  #Book-Background13 {
    width: 130%;
    left: -14%;
  }

  
  #paragraph31 {
    font-size: 15px;
    left: 16%;
    width: 30%;
  }

  

  #paragraph32 {
    font-size: 15px;
    left: 16%;
  }

  

  #paragraph33 {
    font-size: 15px;
    right: 13%;
  }

  

  #paragraph34 {
    font-size: 15px;
    right: 15%;
  }


  #paragraph35 {
    font-size: 15px;
    right: 14%;
  }

  
}

@media (max-width: 782px) {
  #Headline13 {
    font-size: 18px;
    left: 11%;
  }
  #Book-Background13 {
    width: 130%;
  }

  
  #paragraph31 {
    font-size: 15px;
    left: 15%;
  }


  #paragraph32 {
    font-size: 15px;
    left: 15%;
  }


  #paragraph33 {
    font-size: 15px;
    right: 12%;
  }


  #paragraph34 {
    font-size: 15px;
    right: 14%;
  }


  #paragraph35 {
    font-size: 15px;
    right: 12%;
  }

}

@media (max-width: 736px) {
  #Headline13 {
    font-size: 17px;
    left: 9%;
  }
  #Book-Background13 {
    width: 130%;
  }

  
  #paragraph31 {
    font-size: 14px;
    left: 15%;
  }

  #paragraph32 {
    font-size: 14px;
    left: 15%;
  }



  #paragraph33{

font-size: 14px;
    right: 12%;
  }

  
  #paragraph34{
    font-size: 14px;
    right: 14%;
  }

  

  #paragraph35{
    font-size: 14px;
    right: 13%;
    
  }


}

@media (max-width: 664px) {
  #Headline13 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background13 {
    width: 130%;
  }

  #Freunde13 {
    top: 78vh;
    right: 8%;
  }

  #Zurück13 {
    top: 78vh;
    left: 7%;
  }


  
  #paragraph31 {
    font-size: 13px;
    left: 14%;
  }


  #paragraph32 {
    font-size: 13px;
    left: 14%;
  }



  #paragraph33{

font-size: 13px;
    right: 14%;
  }

  

  
  #paragraph34{
    font-size: 13px;
    right: 12%;
  }

  

  #paragraph35{
    font-size: 13px;
    right: 10%;
    
  }

  
}


@media (max-width: 599px) {

  #Headline13 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background13 {
    width: 130%;
  }

  #Freunde13 {
    top: 78vh;
    right: 8%;
  }

  #Zurück13 {
    top: 78vh;
    left: 7%;
  }

  #paragraph31 {
    font-size: 13px;
    left: 12%;
  }

  

  #paragraph32 {
    font-size: 13px;
    left: 12%;
  }



  #paragraph33{

font-size: 13px;
    right: 12%;
  }

  #paragraph34{
    font-size: 13px;
    right: 10%;
  }

  

  #paragraph35{
    font-size: 13px;
    right: 10%;
    
  }

  
}



  
@media (max-width: 545px) {

  #Headline13 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background13 {
    width: 130%;
  }

  #Freunde13 {
    top: 78vh;
    right: 8%;
  }

  #Zurück13 {
    top: 78vh;
    left: 7%;
  }

  #paragraph31 {
    font-size: 11px;
    left: 12%;
  }


  #paragraph32 {
    font-size: 11px;
    left: 12%;
  }

  


  #paragraph33{

    font-size: 11px;
    right: 12%;
  }

  

  
  #paragraph34{
    font-size: 11px;
    right: 13%;
  }

  

  #paragraph35{
    font-size: 11px;
    right: 10%;
    
  }

  

}