#Freunde19{
    position: absolute;
    top: 540px;
    right: 130px;
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
}


#Zurück19{
    position: absolute;
    top: 540px;
    left: 320px;
    border: none;
    background-color: initial;
    font-family: "Dancing Script";
}



#Headline9 {
    position: absolute;
    top: 150px;
    left: 325px;
    text-decoration: underline;
  }
  
  
  #paragraph46 {
    position: relative;
    top: 50px;
    display: inline-block;
    left: 380px;
    font-size: 20px;
  }
  
  
  #input46{
    position: relative;
    left: 530px;
    top: 35px;
    width: 130px;
  }
  
  
  #paragraph47{
    position: relative;
    top: 25px;
    display: inline-block;
    left: 365px;
    font-size: 20px;
  }
  
  
  #input47{
    position: relative;
    left: 530px;
    top: 10px;
    width: 130px;
  }
  
  
  #paragraph48 {
    position: relative;
    top: 0px;
    display: inline-block;
    left: 350px;
    font-size: 20px;
  }
  
  
  #input48{
    position: relative;
    left: 530px;
    top: -10px;
    width: 130px;
  }
  
  
  #paragraph49{
    position: relative;
    display: inline-block;
    top: -25px;
    left: 310px;
    font-size: 20px;
  }
  
  
  #input49{
    position: relative;
    left: 530px;
    top: -30px;
    width: 130px;
  }
  
  
  #paragraph50 {
    position: relative;
    top: -45px;
    display: inline-block;
    left: 330px;
    font-size: 20px;
  }
  
  
  #input50 {
    position: relative;
    left: 530px;
    top: -55px;
    width: 130px;
  }