#Book-Background15{

  position: absolute;
  right: 0%;
  width: 100%;
  height: 80.2vh;
  opacity: 0.5;
}


#Freunde15 {
  position: absolute;
  top: 76%;
  right: 19%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück15 {
  position: absolute;
  top: 76%;
  left: 17%;
  font-size: 100%;
  border: none;
  background-color: initial;
  font-family: "Dancing Script";
}


#Headline15 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}


#paragraph36 {
  position: absolute;
  top: 30%;
  right: 52%;
  font-size: 20px;
}


#input36 {
  position: absolute;
  top: 34vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}


#paragraph37 {
  
  position: absolute;
  top: 39%;
  right: 60%;
  font-size: 20px;
}


#input37 {
  
  position: absolute;
  top: 44vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}


#paragraph38 {
  
  position: absolute;
  top: 49%;
  right: 52%;
  font-size: 20px;
}


#input38 {
   
  position: absolute;
  top: 54vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}


#paragraph39 {
  
  position: absolute;
  top: 60%;
  right: 62%;
  font-size: 20px;
}


#input39 {
  
  position: absolute;
  top: 63vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}


#paragraph40 {  
  position: absolute;
  top: 69%;
  right: 55%;
  font-size: 20px;
}


#input40 {
  position: absolute;
  top: 72vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}



#liste15{
  list-style-type: none;
}