#Book-Background19 {
  position: fixed;
  top: 12vh;
  right: 0%;
  width: 100vw;
  height: 80vh;
  opacity: 0.5;
}

#Freunde19 {
  position: absolute;
  top: 78%;
  right: 18%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück19 {
  position: absolute;
  top: 79%;
  left: 16%;
  font-size: 100%;
  border: none;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline19 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}

#paragraph46 {
  position: fixed;
  top: 42%;
  left: 20%;
  font-size: 20px;
}

#input46 {
  position: fixed;
  top: 51vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph47 {
  position: fixed;
  top: 63%;
  left: 15.5%;
  font-size: 20px;
  width: 30%;
}

#input47 {
  position: fixed;
  top: 72vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph48 {
  position: fixed;
  top: 24%;
  right: 26%;
  font-size: 20px;
}

#input48 {
  position: fixed;
  top: 33vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph49 {
  position: fixed;
  top: 42%;
  right: 24%;
  font-size: 20px;
}

#input49 {
  position: fixed;
  top: 51vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph50 {
  position: fixed;
  top: 63%;
  right: 24%;
  font-size: 20px;
}

#input50 {
  position: fixed;
  top: 72vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#liste19 {
  list-style-type: none;
}

@media (max-width: 1403px) {
  #Headline19 {
    font-size: 23px;
    left: 22%;
  }

  #Book-Background19 {
    width: 100%;
  }

  #paragraph46 {
    font-size: 17px;
  }

  #input46 {
    left: 24%;
  }

  #paragraph47 {
    font-size: 17px;
  }

  #input47 {
    left: 24%;
  }

  #paragraph48 {
    font-size: 17px;
  }

  #input48 {
  }

  #paragraph49 {
    font-size: 17px;
  }

  #input49 {
  }

  #paragraph50 {
    font-size: 17px;
  }

  #input50 {
  }
}

@media (max-width: 1322px) {
  #Headline19 {
    font-size: 23px;
    left: 21%;
  }

  #Book-Background19 {
    width: 100%;
  }

  #paragraph46 {
    font-size: 17px;
    left: 22%;
  }

  #input46 {
    left: 26%;
  }

  #paragraph47 {
    font-size: 15px;
    left: 19%;
  }

  #input47 {
    left: 26%;
  }

  #paragraph48 {
    font-size: 17px;
    right: 23%;
  }

  #input48 {
    right: 26%;
  }

  #paragraph49 {
    font-size: 17px;
    right: 21%;
  }

  #input49 {
    right: 26%;
  }

  #paragraph50 {
    font-size: 17px;
    right: 20%;
  }

  #input50 {
    right: 26%;
  }
}

@media (max-width: 1005px) {
  #Headline19 {
    font-size: 22px;
    left: 13.5%;
  }
  #Book-Background19 {
    width: 125%;
    left: -12%;
  }

  #Freunde19 {
    top: 78vh;
    right: 10%;
  }

  #Zurück19 {
    top: 78vh;
    left: 9%;
  }

  #paragraph46 {
    font-size: 17px;
    left: 17%;
  }

  #input46 {
    left: 23%;
  }

  #paragraph47 {
    font-size: 15px;
    left: 16%;
  }

  #input47 {
    left: 23%;
  }

  #paragraph48 {
    font-size: 17px;
    right: 17%;
  }

  #input48 {
    right: 21%;
  }

  #paragraph49 {
    font-size: 17px;
    right: 15%;
  }

  #input49 {
    right: 21%;
  }

  #paragraph50 {
    font-size: 17px;
    right: 15%;
  }

  #input50 {
    right: 21%;
  }
}

@media (max-width: 859px) {
  #Headline19 {
    font-size: 22px;
    left: 11%;
  }
  #Book-Background19 {
    width: 130%;
    left: -14%;
  }

  
  #paragraph46 {
    font-size: 15px;
    left: 17%;
  }

  #input46 {
    left: 23%;
  }

  #paragraph47 {
    font-size: 15px;
    left: 16%;
  }

  #input47 {
    left: 23%;
  }

  #paragraph48 {
    font-size: 15px;
    right: 15%;
  }

  #input48 {
    right: 19%;
  }

  #paragraph49 {
    font-size: 15px;
    right: 12%;
  }

  #input49 {
    right: 19%;
  }

  #paragraph50 {
    font-size: 15px;
    right: 12%;
  }

  #input50 {
    right: 19%;
  }
}

@media (max-width: 782px) {
  #Headline19 {
    font-size: 18px;
    left: 11%;
  }
  #Book-Background19 {
    width: 130%;
  }

  
  #paragraph46 {
    font-size: 15px;
    left: 15%;
  }

  #input46 {
    left: 22%;
  }

  #paragraph47 {
    font-size: 15px;
    left: 15%;
  }

  #input47 {
    left: 22%;
  }

  #paragraph48 {
    font-size: 15px;
    right: 15%;
  }

  #input48 {
    right: 19%;
  }

  #paragraph49 {
    font-size: 15px;
    right: 12%;
  }

  #input49 {
    right: 19%;
  }

  #paragraph50 {
    font-size: 15px;
    right: 12%;
  }

  #input50 {
    right: 19%;
  }
}

@media (max-width: 736px) {
  #Headline19 {
    font-size: 17px;
    left: 9%;
  }
  #Book-Background19 {
    width: 130%;
  }

  
  #paragraph46 {
    font-size: 14px;
    left: 15%;
  }

  #input46 {
    left: 22%;
  }

  #paragraph47 {
    font-size: 14px;
    left: 15%;
  }

  #input47 {
    left: 22%;
  }


  #paragraph48{

font-size: 14px;
    right: 14%;
  }

  #input48{

  }

  
  #paragraph49{
    font-size: 14px;
    right: 12%;
  }

  #input49{
    right: 20%;
  }

  #paragraph50{
    font-size: 14px;
    right: 12%;
    
  }

  #input50{

  }

}

@media (max-width: 664px) {
  #Headline19 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background19 {
    width: 130%;
  }

  #Freunde19 {
    top: 78vh;
    right: 8%;
  }

  #Zurück19 {
    top: 78vh;
    left: 7%;
  }


  
  #paragraph46 {
    font-size: 13px;
    left: 14%;
  }

  #input46 {
    left: 22%;
  }

  #paragraph47 {
    font-size: 13px;
    left: 14%;
  }

  #input47 {
    left: 22%;
  }


  #paragraph48{

font-size: 13px;
    right: 14%;
  }

  #input48{

  }

  
  #paragraph49{
    font-size: 13px;
    right: 12%;
  }

  #input49{
    right: 20%;
  }

  #paragraph50{
    font-size: 13px;
    right: 10%;
    
  }

  #input50{

  }
}


@media (max-width: 599px) {

  #Headline19 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background19 {
    width: 130%;
  }

  #Freunde19 {
    top: 78vh;
    right: 8%;
  }

  #Zurück19 {
    top: 78vh;
    left: 7%;
  }

  #paragraph46 {
    font-size: 13px;
    left: 12%;
  }

  #input46 {
    left: 20%;
  }

  #paragraph47 {
    font-size: 13px;
    left: 12%;
  }

  #input47 {
    left: 20%;
  }


  #paragraph48{

font-size: 13px;
    right: 12%;
  }

  #input48{

  }

  
  #paragraph49{
    font-size: 13px;
    right: 10%;
  }

  #input49{
    right: 20%;
  }

  #paragraph50{
    font-size: 13px;
    right: 10%;
    
  }

  #input50{
    right: 20%;
  }
}



  
@media (max-width: 545px) {

  #Headline19 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background19 {
    width: 130%;
  }

  #Freunde19 {
    top: 78vh;
    right: 8%;
  }

  #Zurück19 {
    top: 78vh;
    left: 7%;
  }

  #paragraph46 {
    font-size: 11px;
    left: 12%;
  }

  #input46 {
    left: 20%;
  }

  #paragraph47 {
    font-size: 11px;
    left: 12%;
  }

  #input47 {
    left: 20%;
  }


  #paragraph48{

font-size: 11px;
    right: 12%;
  }

  #input48{

  }

  
  #paragraph49{
    font-size: 11px;
    right: 10%;
  }

  #input49{
    right: 20%;
  }

  #paragraph50{
    font-size: 11px;
    right: 10%;
    
  }

  #input50{
    right: 20%;
  }

}