#Book-Background17{
  position: fixed;
  top: 12vh;
  right: 0%;
  width: 100vw;
  height: 80vh;
  opacity: 0.5;
}


#Freunde17 {
  position: absolute;
  top: 78%;
  right: 18%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück17 {
  position: absolute;
  top: 79%;
  left: 16%;
  font-size: 100%;
  border: none;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline17 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}


#paragraph41 {  
  
  position: fixed;
  top: 42%;
  left: 20%;
  width: 20%;
  font-size: 23px;
}



#radio11{

  position: fixed;
  left: 37%;
  top: 45.5%;
  }
  
  
  
  
  #radio12{
    position: fixed;
    left: 39.5%;
    top: 45.5%;  
  }
  




#paragraph42 {  
  
  position: fixed;
  top: 63%;
  left: 25%;
  font-size: 23px;
}


#radio13{
  position: fixed;
  left: 35%;
  top: 66.5%;  

}


#radio14{
  position: fixed;
  left: 37.5%;
  top: 66.5%;  

}


#paragraph43 {
  
  position: fixed;
  top: 24%;
  right: 26%;
  font-size: 23px;
}

#radio15{
  position: fixed;
  right: 24%;
  top: 27.3%;  
}


#radio16{
  position: fixed;
  right: 21.5%;
  top: 27.3%;  
}



#paragraph44 {
  
  position: fixed;
  top: 42%;
  right: 24%;
  font-size: 23px;
}

#radio17{
  position: fixed;
  right:  22%;
  top: 45%;  
}

#radio18{
  position: fixed;
  right: 19.5%;
  top: 45%;  
}





#paragraph45 {  
  
  position: fixed;
  top: 63%;
  right: 24%;
  width: 20%;
  font-size: 23px;
}

#radio19{
  position: fixed;
  top: 66.7%;
  right: 24%;
}



#radio20{
  position: fixed;
  top: 66.7%;
  right: 21.5%;
}









#liste17{
  list-style-type: none;
}

@media (max-width: 1403px) {
  #Headline17 {
    font-size: 23px;
    left: 22%;
  }

  #Book-Background17 {
    width: 100%;
  }

  #paragraph41 {
    font-size: 17px;
  }

  

  #paragraph42 {
    font-size: 17px;
  }

  

  #paragraph43 {
    font-size: 17px;
    left: 60%;
  }


  #paragraph44 {
    font-size: 17px;
    left: 55%;
  }

  #paragraph45 {
    font-size: 17px;
    left: 58%;

  }

}

@media (max-width: 1322px) {
  #Headline17 {
    font-size: 23px;
    left: 21%;
  }

  #Book-Background17 {
    width: 100%;
  }

  #paragraph41 {
    font-size: 17px;
    left: 22%;
  }


  #paragraph42 {
    font-size: 15px;
    left: 19%;
  }

  

  #paragraph43 {
    font-size: 17px;
    right: 23%;
  }

  

  #paragraph44 {
    font-size: 17px;
    right: 21%;
  }

  

  #paragraph45 {
    font-size: 17px;
    right: 20%;
  }

  
}

@media (max-width: 1005px) {
  #Headline17 {
    font-size: 22px;
    left: 13.5%;
  }
  #Book-Background17 {
    width: 125%;
    left: -12%;
  }

  #Freunde17 {
    top: 78vh;
    right: 10%;
  }

  #Zurück17 {
    top: 78vh;
    left: 9%;
  }

  #paragraph41 {
    font-size: 17px;
    left: 20%;
  }

  

  #paragraph42 {
    font-size: 15px;
    left: 15%;
  }

  

  #paragraph43 {
    font-size: 17px;
    left: 62%;
    width: 20%;
  }

  

  #paragraph44 {
    font-size: 17px;
    left: 58%;
    width: 30%;
  }

  

  #paragraph45 {
    font-size: 17px;
    left: 62%;
    
  }

  
}

@media (max-width: 859px) {
  #Headline17 {
    font-size: 22px;
    left: 11%;
  }
  #Book-Background17 {
    width: 130%;
    left: -14%;
  }

  
  #paragraph41 {
    font-size: 15px;
    left: 20%;
  }

  

  #paragraph42 {
    font-size: 15px;
    left: 16%;
  }

  

  #paragraph43 {
    font-size: 15px;
    left: 63%;
  }


  

  #paragraph44 {
    font-size: 15px;
    right: 12%;
  }

  

  #paragraph45 {
    font-size: 15px;
    right: 12%;
  }

  
}

@media (max-width: 782px) {
  #Headline17 {
    font-size: 18px;
    left: 11%;
  }
  #Book-Background17 {
    width: 130%;
  }

  
  #paragraph41 {
    font-size: 15px;
    left: 15%;
    width: 30%;
  }

  

  #paragraph42 {
    font-size: 15px;
    left: 15%;
  }

  

  #paragraph43 {
    font-size: 15px;
    right: 15%;
  }

  

  #paragraph44 {
    font-size: 15px;
    right: 12%;
  }

  
  #paragraph45 {
    font-size: 15px;
    right: 12%;
  }

  
}

@media (max-width: 736px) {
  #Headline17 {
    font-size: 17px;
    left: 9%;
  }
  #Book-Background17 {
    width: 130%;
  }

  
  #paragraph41 {
    font-size: 14px;
    left: 15%;
  }

  #paragraph42 {
    font-size: 14px;
    left: 15%;
  }



  #paragraph43 {

    font-size: 14px;
    right: 14%;
  }


  
  #paragraph44{
    font-size: 14px;
    right: 12%;
  }


  #paragraph45{
    font-size: 14px;
    right: 12%;
    
  }

}

@media (max-width: 664px) {
  #Headline17 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background17 {
    width: 130%;
  }

  #Freunde17 {
    top: 78vh;
    right: 8%;
  }

  #Zurück17 {
    top: 78vh;
    left: 7%;
  }


  
  #paragraph41 {
    font-size: 13px;
    left: 14%;
  }

  #paragraph42 {
    font-size: 13px;
    left: 14%;
  }


  #paragraph43{

    font-size: 13px;
    right: 14%;
  }


  
  #paragraph44{
    font-size: 13px;
    right: 12%;
  }

  
  #paragraph45{
    font-size: 13px;
    right: 10%;
    
  }

  
}


@media (max-width: 599px) {

  #Headline17 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background17 {
    width: 130%;
  }

  #Freunde17 {
    top: 78vh;
    right: 8%;
  }

  #Zurück17 {
    top: 78vh;
    left: 7%;
  }

  #paragraph41 {
    font-size: 13px;
    left: 12%;
  }

  

  #paragraph42 {
    font-size: 13px;
    left: 12%;
  }

  

  #paragraph43{

    font-size: 13px;
    right: 12%;
  }


  
  #paragraph44{
    font-size: 13px;
    right: 10%;
  }


  #paragraph45{
    font-size: 13px;
    right: 10%;
    
  }

}



  
@media (max-width: 545px) {

  #Headline17 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background17 {
    width: 130%;
  }

  #Freunde17 {
    top: 78vh;
    right: 8%;
  }

  #Zurück17 {
    top: 78vh;
    left: 7%;
  }

  #paragraph41 {
    font-size: 11px;
    left: 12%;
  }

  
  #paragraph42 {
    font-size: 11px;
    left: 12%;
  }

  


  #paragraph43{

font-size: 11px;
    right: 12%;
  }

  
  
  #paragraph44{
    font-size: 11px;
    right: 10%;
  }

  
  #paragraph45{
    font-size: 11px;
    right: 10%;
    
  }

 
}