#frdiv {
    position: absolute;
    bottom: 35px;
    height: 81%;
    width: 1300px;
}


#frbook{   
    height: 100%;
    width: 100%;
    opacity: 0.5;
}


#Freunde{
    position: absolute;
    top: 440px;
    right: 250px;
    border: none;
    background-color: inherit;
    font-family: "Dancing Script";
    font-size: 17px;
    text-decoration: underline;
    opacity: 1;
}