#Book-Background17 {
  position: fixed;
  top: 12vh;
  right: 0%;
  width: 100vw;
  height: 80vh;
  opacity: 0.5;
}

#Freunde17 {
  position: absolute;
  top: 78%;
  right: 18%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück17 {
  position: absolute;
  top: 79%;
  left: 16%;
  font-size: 100%;
  border: none;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline17 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}

#paragraph41 {
  position: fixed;
  top: 42%;
  left: 20%;
  width: 20%;
  font-size: 23px;
}

#radio11 {
  position: fixed;
  left: 37%;
  top: 45.5%;
}

#radio12 {
  position: fixed;
  left: 39.5%;
  top: 45.5%;
}

#paragraph42 {
  position: fixed;
  top: 63%;
  left: 25%;
  font-size: 23px;
}

#radio13 {
  position: fixed;
  left: 35%;
  top: 66.5%;
}

#radio14 {
  position: fixed;
  left: 37.5%;
  top: 66.5%;
}

#paragraph43 {
  position: fixed;
  top: 24%;
  right: 26%;
  font-size: 23px;
}

#radio15 {
  position: fixed;
  right: 24%;
  top: 27.3%;
}

#radio16 {
  position: fixed;
  right: 21.5%;
  top: 27.3%;
}

#paragraph44 {
  position: fixed;
  top: 42%;
  right: 24%;
  font-size: 23px;
}

#radio17 {
  position: fixed;
  right: 22%;
  top: 45.5%;
}

#radio18 {
  position: fixed;
  right: 20%;
  top: 45.5%;
}

#paragraph45 {
  position: fixed;
  top: 62%;
  right: 28%;
  font-size: 23px;
}

#radio19 {
  position: fixed;
  right: 25%;
  top: 65.5%;
}

#radio20 {
  position: fixed;
  right: 22%;
  top: 65.5%;
}

#liste17 {
  list-style-type: none;
}

@media (max-width: 1403px) {
  #Headline17 {
    font-size: 23px;
    left: 22%;
  }

  #Book-Background17 {
    width: 100%;
  }


  #paragraph41{
    left: 18%;
  }


  
  #paragraph42{
    left: 22%;
  }
}

@media (max-width: 1322px) {
  #Headline17 {
    font-size: 23px;
    left: 21%;
  }

  #Book-Background17 {
    width: 100%;
  }

  #radio11 {
    left: 39%;
  }

  #radio12 {
    left: 41.5%;
  }
}

@media (max-width: 1140px) {
  #Headline17 {
    font-size: 25px;
    left: 13.5%;
  }
  #Book-Background17 {
    width: 125%;
    left: -12%;
  }

  #Freunde17 {
    top: 78vh;
    right: 10%;
  }

  #Zurück17 {
    top: 78vh;
    left: 9%;
  }

  #paragraph41 {
    font-size: 22.5px;
    left: 17%;
  }

  #radio11 {
    left: 38%;
  }

  #paragraph42 {
    font-size: 22.5px;
    left: 24%;
  }

  #radio13 {
    left: 40%;
  }

  #radio14 {
    left: 44%;
  }

  #paragraph43 {
    top: 23.5%;
    font-size: 22.5px;
    left: 42%;
    width: 50%;
  }

  #radio15 {
    right: 18%;
  }

  #radio16 {
    right: 14%;
  }

  #paragraph44 {
    font-size: 22.5px;
    left: 55%;
    width: 30%;
  }

  #radio17 {
    right: 16%;
  }

  #radio18 {
    right: 12%;
  }

  #paragraph45 {
    font-size: 22.5px;
    left: 75%;
    top: 60%;
  }

  #radio19 {
    right: 15%;
  }
  #radio20 {
    right: 11%;
  }
}

@media (max-width: 950px) {
  #Headline17 {
    font-size: 22px;
    left: 11%;
  }
  #Book-Background17 {
    width: 130%;
    left: -14%;
  }

  #paragraph41 {
    font-size: 22px;
    left: 20%;
  }

  #paragraph42 {
    font-size: 22px;
    left: 22%;
  }

  #paragraph43 {
    font-size: 20px;
    left: 48%;
    top: 22%;
  }

  #paragraph44 {
    font-size: 20px;
    left: 55%;
    top: 42%;
  }

  #paragraph45 {
    font-size: 20px;
    left:  66%;
    top: 62.5%;
    width: 20%;
  }
}

@media (max-width: 800px) {
  #Headline17 {
    font-size: 17px;
    left: 9%;
  }
  #Book-Background17 {
    width: 130%;
  }

  #paragraph41 {
    top: 43.5%;
    font-size: 15px;
    left: 17%;
  }

  
  #paragraph42 {
    top: 64.5%;
    font-size: 15px;
  }

  #paragraph43 {
    font-size:  15px;
    left: 60%;
    top: 23.5%;
    width: 22%;

  }

  #paragraph44 {
    font-size: 15px;
    left: 60%;
    top: 42%;
    width: 20%;
  }

  #paragraph45 {
    top: 63.5%;
    left: 63%;
    font-size: 15px;
  }
}

@media (max-width: 545px) {
  #Headline17 {
    font-size: 15px;
    top: 22%;
    left: 9%;
  }
  #Book-Background17 {
    width: 130%;
  }

  #Freunde17 {
    top: 78vh;
    right: 8%;
  }

  #Zurück17 {
    top: 78vh;
    left: 7%;
  }

  #paragraph41 {
    font-size: 15px;
    left: 15%;
  }

  #paragraph42 {
    font-size: 15px;
    left: 18%;
    width: 20%;
  }

  #paragraph43 {
    font-size: 15px;
    right: 28%;
  }

  #paragraph44 {
    font-size: 15px;
    left: 60%;
  }

  #paragraph45 {
    font-size: 15px;
    left: 61%;
    top: 61.5%;
  }
}
