#Book-Background17{
  position: fixed;
  top: 12vh;
  right: 0%;
  width: 100vw;
  height: 80vh;
  opacity: 0.5;
}


#Freunde17 {
  position: absolute;
  top: 78%;
  right: 18%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück17 {
  position: absolute;
  top: 79%;
  left: 16%;
  font-size: 100%;
  border: none;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline17 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}


#paragraph41 {  
  
  position: fixed;
  top: 42%;
  left: 20%;
  width: 20%;
  font-size: 20px;
}


#input41 {
  
  position: fixed;
  top: 51vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;

}

#paragraph42 {  
  
  position: fixed;
  top: 63%;
  left: 15%;
  font-size: 20px;
  width: 30%;
}


#input42 {
  
  position: fixed;
  top: 72vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;

}

#paragraph43 {
  
  position: fixed;
  top: 24%;
  right: 27%;
  width: 15%;
  font-size: 20px;
}

#input43 {
  
  position: fixed;
  top: 33vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}


#paragraph44 {
  
  position: fixed;
  top: 42%;
  right: 26%;
  font-size: 20px;
}


#input44 {  
  position: fixed;
  top: 51vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}


#paragraph45 {  
  
  position: fixed;
  top: 63%;
  right: 24%;
  width: 20%;
  font-size: 20px;
}


#input45 {
   
  position: fixed;
  top: 72vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;

}





#liste17{
  list-style-type: none;
}

@media (max-width: 1403px) {
  #Headline17 {
    font-size: 23px;
    left: 22%;
  }

  #Book-Background17 {
    width: 100%;
  }

  #paragraph41 {
    font-size: 17px;
  }

  #input41 {
    left: 24%;
  }

  #paragraph42 {
    font-size: 17px;
  }

  #input42 {
    left: 24%;
  }

  #paragraph43 {
    font-size: 17px;
    left: 60%;
  }

  #input43 {
  }

  #paragraph44 {
    font-size: 17px;
    left: 55%;
  }

  #input44 {
  }

  #paragraph45 {
    font-size: 17px;
    left: 58%;

  }

  #input45 {
  }
}

@media (max-width: 1322px) {
  #Headline17 {
    font-size: 23px;
    left: 21%;
  }

  #Book-Background17 {
    width: 100%;
  }

  #paragraph41 {
    font-size: 17px;
    left: 22%;
  }

  #input41 {
    left: 26%;
  }

  #paragraph42 {
    font-size: 15px;
    left: 19%;
  }

  #input42 {
    left: 26%;
  }

  #paragraph43 {
    font-size: 17px;
    right: 23%;
  }

  #input43 {
    right: 26%;
  }

  #paragraph44 {
    font-size: 17px;
    right: 21%;
  }

  #input44 {
    right: 26%;
  }

  #paragraph45 {
    font-size: 17px;
    right: 20%;
  }

  #input45 {
    right: 26%;
  }
}

@media (max-width: 1005px) {
  #Headline17 {
    font-size: 22px;
    left: 13.5%;
  }
  #Book-Background17 {
    width: 125%;
    left: -12%;
  }

  #Freunde17 {
    top: 78vh;
    right: 10%;
  }

  #Zurück17 {
    top: 78vh;
    left: 9%;
  }

  #paragraph41 {
    font-size: 17px;
    left: 20%;
  }

  #input41 {
    left: 23%;
  }

  #paragraph42 {
    font-size: 15px;
    left: 15%;
  }

  #input42 {
    left: 23%;
  }

  #paragraph43 {
    font-size: 17px;
    left: 62%;
    width: 20%;
  }

  #input43 {
    right: 21%;
  }

  #paragraph44 {
    font-size: 17px;
    left: 58%;
    width: 30%;
  }

  #input44 {
    right: 21%;
  }

  #paragraph45 {
    font-size: 17px;
    left: 62%;
    
  }

  #input45 {
    right: 21%;
  }
}

@media (max-width: 859px) {
  #Headline17 {
    font-size: 22px;
    left: 11%;
  }
  #Book-Background17 {
    width: 130%;
    left: -14%;
  }

  
  #paragraph41 {
    font-size: 15px;
    left: 20%;
  }

  #input41 {
    left: 23%;
  }

  #paragraph42 {
    font-size: 15px;
    left: 16%;
  }

  #input42 {
    left: 23%;
  }

  #paragraph43 {
    font-size: 15px;
    left: 63%;
  }


  #input43 {
    right: 19%;
  }

  #paragraph44 {
    font-size: 15px;
    right: 12%;
  }

  #input44 {
    right: 19%;
  }

  #paragraph45 {
    font-size: 15px;
    right: 12%;
  }

  #input45 {
    right: 19%;
  }
}

@media (max-width: 782px) {
  #Headline17 {
    font-size: 18px;
    left: 11%;
  }
  #Book-Background17 {
    width: 130%;
  }

  
  #paragraph41 {
    font-size: 15px;
    left: 15%;
    width: 30%;
  }

  #input41 {
    left: 22%;
  }

  #paragraph42 {
    font-size: 15px;
    left: 15%;
  }

  #input42 {
    left: 22%;
  }

  #paragraph43 {
    font-size: 15px;
    right: 15%;
  }

  #input43 {
    right: 19%;
  }

  #paragraph44 {
    font-size: 15px;
    right: 12%;
  }

  #input44 {
    right: 19%;
  }

  #paragraph45 {
    font-size: 15px;
    right: 12%;
  }

  #input45 {
    right: 19%;
  }
}

@media (max-width: 736px) {
  #Headline17 {
    font-size: 17px;
    left: 9%;
  }
  #Book-Background17 {
    width: 130%;
  }

  
  #paragraph41 {
    font-size: 14px;
    left: 15%;
  }

  #input41 {
    left: 22%;
  }

  #paragraph42 {
    font-size: 14px;
    left: 15%;
  }

  #input42 {
    left: 22%;
  }


  #paragraph43 {

font-size: 14px;
    right: 14%;
  }

  #input43{

  }

  
  #paragraph44{
    font-size: 14px;
    right: 12%;
  }

  #input44{
    right: 20%;
  }

  #paragraph45{
    font-size: 14px;
    right: 12%;
    
  }

  #input45{

  }

}

@media (max-width: 664px) {
  #Headline17 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background17 {
    width: 130%;
  }

  #Freunde17 {
    top: 78vh;
    right: 8%;
  }

  #Zurück17 {
    top: 78vh;
    left: 7%;
  }


  
  #paragraph41 {
    font-size: 13px;
    left: 14%;
  }

  #input41 {
    left: 22%;
  }

  #paragraph42 {
    font-size: 13px;
    left: 14%;
  }

  #input42 {
    left: 22%;
  }


  #paragraph43{

font-size: 13px;
    right: 14%;
  }

  #input43{

  }

  
  #paragraph44{
    font-size: 13px;
    right: 12%;
  }

  #input44{
    right: 20%;
  }

  #paragraph45{
    font-size: 13px;
    right: 10%;
    
  }

  #input45{

  }
}


@media (max-width: 599px) {

  #Headline17 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background17 {
    width: 130%;
  }

  #Freunde17 {
    top: 78vh;
    right: 8%;
  }

  #Zurück17 {
    top: 78vh;
    left: 7%;
  }

  #paragraph41 {
    font-size: 13px;
    left: 12%;
  }

  #input41 {
    left: 20%;
  }

  #paragraph42 {
    font-size: 13px;
    left: 12%;
  }

  #input42 {
    left: 20%;
  }


  #paragraph43{

font-size: 13px;
    right: 12%;
  }

  #input43{

  }

  
  #paragraph44{
    font-size: 13px;
    right: 10%;
  }

  #input44{
    right: 20%;
  }

  #paragraph45{
    font-size: 13px;
    right: 10%;
    
  }

  #input45{
    right: 20%;
  }
}



  
@media (max-width: 545px) {

  #Headline17 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background17 {
    width: 130%;
  }

  #Freunde17 {
    top: 78vh;
    right: 8%;
  }

  #Zurück17 {
    top: 78vh;
    left: 7%;
  }

  #paragraph41 {
    font-size: 11px;
    left: 12%;
  }

  #input41 {
    left: 20%;
  }

  #paragraph42 {
    font-size: 11px;
    left: 12%;
  }

  #input42 {
    left: 20%;
  }


  #paragraph43{

font-size: 11px;
    right: 12%;
  }

  #input43{

  }

  
  #paragraph44{
    font-size: 11px;
    right: 10%;
  }

  #input44{
    right: 20%;
  }

  #paragraph45{
    font-size: 11px;
    right: 10%;
    
  }

  #input45{
    right: 20%;
  }

}