#Book-Background3 {
  position: absolute;
  right: 1%;
  width: 100%;
  height: 80vh;
  opacity: 0.5;
}

#Freunde3 {
  position: absolute;
  top: 78%;
  right: 18%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück3 {
  position: absolute;
  top: 79%;
  left: 16%;
  font-size: 100%;
  border: none;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline3 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}

#paragraph6 {
  position: absolute;
  top: 30%;
  right: 55%;
  font-size: 20px;
}

#input6 {
  position: absolute;
  top: 34vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}

#paragraph7 {
  position: absolute;
  top: 39%;
  right: 60%;
  font-size: 20px;
}

#input7 {
  position: absolute;
  top: 44vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}

#paragraph8 {
  position: absolute;
  top: 49%;
  right: 52%;
  font-size: 20px;
}

#input8 {
  position: absolute;
  top: 54vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}

#paragraph9 {
  position: absolute;
  top: 60%;
  right: 64%;
  font-size: 20px;
}

#input9 {
  position: absolute;
  top: 63vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}

#paragraph10 {
  position: absolute;
  top: 69%;
  right: 55%;
  font-size: 20px;
}

#input10 {
  position: absolute;
  top: 72vh;
  right: 30%;
  width: 13%;
  font-size: 20px;
}

#liste {
  list-style-type: none;
}

@media (max-width: 1403px) {
  #Headline {
    font-size: 23px;
    left: 22%;
  }
}

@media (max-width: 1252px) {
  #Headline {
    font-size: 23px;
    left: 21%;
  }

  #frbook {
    width: 100%;
  }
}

@media (max-width: 1108px) {
  #Headline {
    font-size: 20px;
    left: 21%;
  }

  #frbook {
    width: 100%;
  }
}

@media (max-width: 1005px) {
  #Headline {
    font-size: 22px;
    left: 13.5%;
  }

  #frbook {
    width: 130%;
    height: 78%;
  }
  
  #Freunde3 {
    top: 77vh;
    right: 8%;
  }

  #Zurück3 {
    top: 77vh;
    left: 6%;
  }
}

@media (max-width: 859px) {
  #Headline {
    font-size: 22px;
    left: 11%;
  }

  #frbook {
    width: 130%;
    height: 78%;
  }

  #Freunde {
    right: 10%;
  }
}

@media (max-width: 742px) {
  #Headline {
    font-size: 18px;
    left: 11%;
  }

  #frbook {
    width: 130%;
    height: 78%;
  }

  #Freunde {
    right: 10%;
  }
}

@media (max-width: 625px) {
  #Headline {
    font-size: 17px;
    left: 9%;
  }

  #frbook {
    width: 130%;
    height: 78%;
  }

  #Freunde {
    right: 10%;
  }
}

@media (max-width: 537px) {
  #Headline {
    font-size: 15px;
    top: 22%;
    left: 9%;
  }

  #frbook {
    width: 130%;
    height: 84%;
  }

  #Freunde3 {
    top: 82vh;
    right: 8%;
  }

  #Zurück3 {
    top: 82.5vh;
    left: 6%;
  }
}
