#Freunde14 {
    position: relative; /* Relative Positionierung für flexibles Layout */
    top: auto; /* Abstand nach oben entfernt */
    right: auto; /* Abstand nach rechts entfernt */
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
    margin: 20px; /* Margin hinzugefügt */
    display: block; /* Als Blockelement dargestellt */
}


#Zurück14 {
    position: relative; /* Relative Positionierung für flexibles Layout */
    top: auto; /* Abstand nach oben entfernt */
    left: auto; /* Abstand nach links entfernt */
    border: none;
    background-color: initial;
    font-family: "Dancing Script";
    margin: 20px; /* Margin hinzugefügt */
    display: block; /* Als Blockelement dargestellt */
}