#Familienfoto {
    display: flex;
    position: relative; /* Absolute Positionierung entfernt */
    width: 100%; /* Volle Breite für Flexbox */
    max-width: 31%; /* Maximale Breite begrenzt */
    height: auto; /* Höhe automatisch anpassen */
    margin: 20px auto; /* Zentrierung und Margin hinzugefügt */
    opacity: 0.7;
}


#Freunde4 {
    position: relative; /* Absolute Positionierung entfernt */
    margin-top: 20px; /* Abstand nach oben hinzugefügt */
    margin-right: 10px; /* Abstand nach rechts hinzugefügt */
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
    display: block; /* Als Blockelement dargestellt */
}


#Zurück4 {
    position: relative; /* Absolute Positionierung entfernt */
    margin-top: 20px; /* Abstand nach oben hinzugefügt */
    margin-left: 10px; /* Abstand nach links hinzugefügt */
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
    display: block; /* Als Blockelement dargestellt */
}