#Freunde17{
    position: absolute;
    top: 540px;
    right: 130px;
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
}


#Zurück17{
    position: absolute;
    top: 540px;
    left: 320px;
    border: none;
    background-color: initial;
    font-family: "Dancing Script";
}



#Headline8 {
    position: absolute;
    top: 150px;
    left: 325px;
    text-decoration: underline;
  }
  
  
  #paragraph41 {
    position: relative;
    top: -15px;
    display: inline-block;
    left: 380px;
    font-size: 20px;
  }
  
  
  #input41 {
    position: relative;
    left: 530px;
    top: -15px;
    width: 130px;
  }
  
  
  #paragraph42{
    position: relative;
    top: -30px;
    display: inline-block;
    left: 365px;
    font-size: 20px;
  }
  
  
  #input42 {
    position: relative;
    left: 530px;
    top: -35px;
    width: 130px;
  }
  
  
  #paragraph43 {
    position: relative;
    top: -40px;
    display: inline-block;
    left: 350px;
    font-size: 20px;
  }
  
  
  #input43 {
    position: relative;
    left: 530px;
    top: -35px;
    width: 130px;
  }
  
  
  #paragraph44 {
    position: relative;
    display: inline-block;
    top: -45px;
    left: 310px;
    font-size: 20px;
  }
  
  
  #input44 {
    position: relative;
    left: 530px;
    top: -55px;
    width: 130px;
  }
  
  
  #paragraph45 {
    position: relative;
    top: -55px;
    display: inline-block;
    left: 330px;
    font-size: 20px;
  }
  
  
  #input45 {
    position: relative;
    left: 530px;
    top: -55px;
    width: 130px;
  }