#Book-Background15{
  position: fixed;
  top: 12vh;
  right: 0%;
  width: 100vw;
  height: 80vh;
  opacity: 0.5;
}


#Freunde15 {
  position: absolute;
  top: 78%;
  right: 18%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück15 {
  position: absolute;
  top: 79%;
  left: 16%;
  font-size: 100%;
  border: none;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline15 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}


#paragraph36 {  
  
  position: fixed;
  top: 42%;
  left: 18%;
  width: fit-content;
  font-size: 19px;
  width: 27%;
}


#input36{
  
  position: fixed;
  top: 51vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;

}

#paragraph37 {  
  
  position: fixed;
  top: 63%;
  left: 15%;
  font-size: 20px;
  width: 30%;
}


#input37 {
  
  position: fixed;
  top: 72vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;

}

#paragraph38 {
  
  position: fixed;
  top: 24%;
  right: 25%;
  font-size: 20px;
}

#input38 {
  
  position: fixed;
  top: 33vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}


#paragraph39 {
  
  position: fixed;
  top: 42%;
  right: 27.5%;
  font-size: 20px;
}


#input39{  
  position: fixed;
  top: 51vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}


#paragraph40 {  
  
  position: fixed;
  top: 63%;
  right: 26%;
  font-size: 20px;
}


#input40 {
   
  position: fixed;
  top: 72vh;
  right: 27vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;

}


#liste15{
  list-style-type: none;
}


@media (max-width: 1403px) {
  #Headline15 {
    font-size: 23px;
    left: 22%;
  }

  #Book-Background15 {
    width: 100%;
  }

  #paragraph36 {
    font-size: 17px;
    width: 25%;
    left: 20%;

  }

  #input36 {
    left: 24%;
  }

  #paragraph37 {
    font-size: 17px;
  }

  #input37 {
    left: 24%;
  }

  #paragraph38 {
    font-size: 17px;
  }

  #input38 {
  }

  #paragraph39 {
    font-size: 17px;
  }

  #input39 {
  }

  #paragraph40 {
    font-size: 17px;
  }

  #input40 {
  }
}

@media (max-width: 1322px) {
  #Headline15 {
    font-size: 23px;
    left: 21%;
  }

  #Book-Background15 {
    width: 100%;
  }

  #paragraph36 {
    font-size: 17px;
    left: 19%;
    width: 30%;
  }

  #input36 {
    left: 26%;
  }

  #paragraph37 {
    font-size: 15px;
    left: 19%;
  }

  #input37 {
    left: 26%;
  }

  #paragraph38 {
    font-size: 17px;
    right: 23%;
  }

  #input38 {
    right: 26%;
  }

  #paragraph39 {
    font-size: 17px;
    right: 25%;
  }

  #input39 {
    right: 26%;
  }

  #paragraph40 {
    font-size: 17px;
    right: 24.5%;
  }

  #input40 {
    right: 26%;
  }
}



@media (max-width: 1005px) {
  #Headline15 {
    font-size: 22px;
    left: 13.5%;
  }
  #Book-Background15 {
    width: 125%;
    left: -12%;
  }

  #Freunde15 {
    top: 78vh;
    right: 10%;
  }

  #Zurück15 {
    top: 78vh;
    left: 9%;
  }

  #paragraph36 {
    font-size: 17px;
    left: 13%;
    width: 35%;
  }

  #input36 {
    left: 23%;
  }

  #paragraph37 {
    font-size: 15px;
    left: 16%;
  }

  #input37 {
    left: 23%;
  }

  #paragraph38 {
    font-size: 17px;
    right: 15%;
  }

  #input38 {
    right: 21%;
  }

  #paragraph39 {
    font-size: 17px;
    right: 16%;
  }

  #input39 {
    right: 21%;
  }

  #paragraph40 {
    font-size: 17px;
    right: 15%;
  }

  #input40 {
    right: 20%;
  }
}

@media (max-width: 859px) {
  #Headline15 {
    font-size: 22px;
    left: 11%;
  }
  #Book-Background15 {
    width: 130%;
    left: -14%;
  }

  
  #paragraph36 {
    font-size: 15px;
    left: 16%;
    width: 30%;
  }

  #input36 {
    left: 23%;
  }

  #paragraph37 {
    font-size: 15px;
    left: 16%;
  }

  #input37 {
    left: 23%;
  }

  #paragraph38 {
    font-size: 15px;
    right: 13%;
  }

  #input38 {
    right: 19%;
  }

  #paragraph39 {
    font-size: 15px;
    right: 15%;
  }

  #input39 {
    right: 19%;
  }

  #paragraph40 {
    font-size: 15px;
    right: 14%;
  }

  #input40 {
    right: 19%;
  }
}

@media (max-width: 782px) {
  #Headline15 {
    font-size: 18px;
    left: 11%;
  }
  #Book-Background15 {
    width: 130%;
  }

  
  #paragraph36 {
    font-size: 15px;
    left: 15%;
  }

  #input36 {
    left: 22%;
  }

  #paragraph37 {
    font-size: 15px;
    left: 15%;
  }

  #input37 {
    left: 22%;
  }

  #paragraph38 {
    font-size: 15px;
    right: 12%;
  }

  #input38 {
    right: 19%;
  }

  #paragraph39 {
    font-size: 15px;
    right: 14%;
  }

  #input39 {
    right: 19%;
  }

  #paragraph40 {
    font-size: 15px;
    right: 12%;
  }

  #input40 {
    right: 19%;
  }
}

@media (max-width: 736px) {
  #Headline15 {
    font-size: 17px;
    left: 9%;
  }
  #Book-Background15 {
    width: 130%;
  }

  
  #paragraph36 {
    font-size: 14px;
    left: 15%;
  }

  #input36 {
    left: 22%;
  }

  #paragraph37 {
    font-size: 14px;
    left: 15%;
  }

  #input37 {
    left: 22%;
  }


  #paragraph38{

font-size: 14px;
    right: 12%;
  }

  #input38{

  }

  
  #paragraph39{
    font-size: 14px;
    right: 14%;
  }

  #input39{
    right: 20%;
  }

  #paragraph40{
    font-size: 14px;
    right: 13%;
    
  }

  #input40{

  }

}

@media (max-width: 664px) {
  #Headline15 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background15 {
    width: 130%;
  }

  #Freunde15 {
    top: 78vh;
    right: 8%;
  }

  #Zurück15 {
    top: 78vh;
    left: 7%;
  }


  
  #paragraph36 {
    font-size: 13px;
    left: 14%;
  }

  #input36 {
    left: 22%;
  }

  #paragraph37 {
    font-size: 13px;
    left: 14%;
  }

  #input37 {
    left: 22%;
  }


  #paragraph38{

font-size: 13px;
    right: 14%;
  }

  #input38{

  }

  
  #paragraph39{
    font-size: 13px;
    right: 12%;
  }

  #input39{
    right: 20%;
  }

  #paragraph40{
    font-size: 13px;
    right: 10%;
    
  }

  #input40{

  }
}


@media (max-width: 599px) {

  #Headline15 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background15 {
    width: 130%;
  }

  #Freunde15 {
    top: 78vh;
    right: 8%;
  }

  #Zurück15 {
    top: 78vh;
    left: 7%;
  }

  #paragraph36 {
    font-size: 13px;
    left: 12%;
  }

  #input36 {
    left: 20%;
  }

  #paragraph37 {
    font-size: 13px;
    left: 12%;
  }

  #input37 {
    left: 20%;
  }


  #paragraph38{

font-size: 13px;
    right: 12%;
  }

  #input38{

  }

  
  #paragraph39{
    font-size: 13px;
    right: 10%;
  }

  #input39{
    right: 20%;
  }

  #paragraph40{
    font-size: 13px;
    right: 10%;
    
  }

  #input40{
    right: 20%;
  }
}



  
@media (max-width: 545px) {

  #Headline15 {
    font-size: 16px;
    top: 22%;
    left: 9%;
  }
  #Book-Background15 {
    width: 130%;
  }

  #Freunde15 {
    top: 78vh;
    right: 8%;
  }

  #Zurück15 {
    top: 78vh;
    left: 7%;
  }

  #paragraph36 {
    font-size: 11px;
    left: 12%;
  }

  #input36 {
    left: 20%;
  }

  #paragraph37 {
    font-size: 11px;
    left: 12%;
  }

  #input37 {
    left: 20%;
  }


  #paragraph38{

font-size: 11px;
    right: 12%;
  }

  #input38{

  }

  
  #paragraph39{
    font-size: 11px;
    right: 13%;
  }

  #input39{
    right: 20%;
  }

  #paragraph40{
    font-size: 11px;
    right: 10%;
    
  }

  #input40{
    right: 20%;
  }

}