#Familienfoto {
    display: flex;
    position: relative; /* Absolute Positionierung entfernt */
    width: 100%; /* Volle Breite für Flexbox */
    max-width: 31%; /* Maximale Breite begrenzt */
    height: auto; /* Höhe automatisch anpassen */
    margin: 20px auto; /* Zentrierung und Margin hinzugefügt */
    opacity: 0.7;
}


#Freunde8 {
    position: relative; /* Absolute Positionierung entfernt */
    margin-top: 20px; /* Abstand nach oben hinzugefügt */
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
    display: block; /* Als Blockelement dargestellt */
    text-align: center; /* Zentriert den Text */
}


#Zurück8 {
    position: relative; /* Absolute Positionierung entfernt */
    margin-top: 20px; /* Abstand nach oben hinzugefügt */
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
    display: block; /* Als Blockelement dargestellt */
    text-align: center; /* Zentriert den Text */
}