#Freunde5{
    position: absolute;
    top: 540px;
    right: 130px;
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
}


#Zurück5{
    position: absolute;
    top: 540px;
    left: 320px;
    border: none;
    background-color: initial;
    font-family: "Dancing Script";
}




#Headline2 {
    position: absolute;
    top: 150px;
    left: 325px;
    text-decoration: underline;
  }
  
  
  #paragraph11 {
    position: relative;
    top: 25px;
    display: inline-block;
    left: 350px;
    font-size: 20px;
  }
  
  
  #input11 {
    position: relative;
    left: 530px;
    top: 25px;
    width: 130px;
  }
  
  
  #paragraph12 {
    position: relative;
    top: 10px;
    display: inline-block;
    left: 300px;
    font-size: 20px;
  }
  
  
  #input12 {
    position: relative;
    left: 530px;
    top: 10px;
    width: 130px;
  }
  
  
  #paragraph13 {
    position: relative;
    top: -5px;
    display: inline-block;
    left: 300px;
    font-size: 20px;
  }
  
  
  #input13 {
    position: relative;
    left: 530px;
    top: -5px;
    width: 130px;
  }
  
  
  #paragraph14{
    position: relative;
    display: inline-block;
    top: -15px;
    left: 300px;
    font-size: 20px;
  }
  
  
  #input14 {
    position: relative;
    left: 530px;
    top: -25px;
    width: 130px;
  }
  
  
  #paragraph15 {
    position: relative;
    top: -35px;
    display: inline-block;
    left: 350px;
    font-size: 20px;
  }
  
  
  #input15 {
    position: relative;
    left: 530px;
    top: -45px;
    width: 130px;
  }