#Book-Background15 {
  position: fixed;
  top: 20vh;
  right: 5%;
  width: 90vw;
  height: 65vh;
  opacity: 0.5;
}

#Freunde15 {
  position: absolute;
  top: 78%;
  right: 10%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Zurück15 {
  position: absolute;
  top: 78%;
  left: 10%;
  border: none;
  font-size: 100%;
  background-color: initial;
  font-family: "Dancing Script";
}

#Headline15 {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21%;
  text-decoration: underline;
}

#paragraph36 {
  position: fixed;
  top: 40%;
  left: 15%;
  width: 30%;
  font-size: 20px;
}

#input36 {
  position: fixed;
  top: 51vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph37 {
  position: fixed;
  top: 60%;
  left: 20%;
  font-size: 20px;
  width: 19%;
}

#input37 {
  position: fixed;
  top: 72vh;
  left: 23vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph38 {
  position: fixed;
  top: 24%;
  right: 13vw;
  width: 30%;
  font-size: 20px;
}

#input38 {
  position: fixed;
  top: 33vh;
  right: 20.5vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph39 {
  position: fixed;
  top: 42%;
  right: 15%;
  width: 30%;

  font-size: 20px;
}

#input39 {
  position: fixed;
  top: 51vh;
  right: 22.8vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#paragraph40 {
  position: fixed;
  top: 63%;
  right: 11%;
  width: 30%;

  font-size: 20px;
}

#input40 {
  position: fixed;
  top: 72vh;
  right: 18.5vw;
  width: 14%;
  border: none;
  background-color: inherit;
  border-bottom: dashed;
}

#liste15 {
  list-style-type: none;
}

@media (max-width: 1403px) {
  #Headline15 {
    font-size: 23px;
    left: 18%;
  }

  #paragraph36 {
    font-size: 20px;

    left: 20%;
  }

  #input36 {
    left: 23%;
  }

  #paragraph37 {
    font-size: 20px;
    left: 18%;
  }

  #input37 {
    left: 20%;
  }

  #paragraph38 {
    font-size: 17px;
  }

  #paragraph39 {
    font-size: 17px;
  }

  #paragraph40 {
    font-size: 17px;
  }
}

@media (max-width: 1402px) {
  #paragraph36 {
    left: 16%;
  }
}

@media (max-width: 1322px) {
  #paragraph37 {
    width: 30%;
    left: 13%;
  }

  #paragraph38 {
    font-size: 20px;
    right: 19%;
  }

  #input38 {
    right: 27%;
  }

  #paragraph39 {
    font-size: 20px;
    right: 18%;
  }

  #input39 {
    right: 26.5%;
  }

  #paragraph40 {
    font-size: 20px;
    right: 18%;
  }

  #input40 {
    right: 26%;
  }
}

@media (max-width: 1107px) {
  #Freunde15 {
    top: 78vh;
    right: 10%;
  }

  #paragraph36 {
    font-size: 18px;
    left: 13%;
    width: 35%;
  }

  #input36 {
    left: 23%;
  }

  #paragraph37 {
    font-size: 18px;
    left: 16%;
    top: 62%;
  }

  #input37 {
    left: 23%;
  }

  #paragraph38 {
    font-size: 18px;
    right: 15%;
  }

  #input38 {
    right: 21%;
  }

  #paragraph39 {
    font-size: 18px;
    right: 13%;
  }

  #input39 {
    right: 21%;
  }

  #paragraph40 {
    font-size: 18px;
    right: 12%;
  }

  #input40 {
    right: 20%;
  }
}

@media (max-width: 861px) {
  #Freunde15 {
    top: 78vh;
    right: 8%;
  }

  #Zurück15 {
    top: 78vh;
    left: 8%;
  }
  #Headline15 {
    font-size: 22px;
    left: 11%;
  }
  #Book-Background15 {
    width: 95%;
    left: 2.5%;
  }

  #paragraph36 {
    font-size: 17px;
    left: 11%;
    top: 42%;
    width: 40%;
  }

  #input36 {
    left: 23%;
  }

  #paragraph37 {
    font-size: 18px;
    left: 12%;
    top: 62%;
    width: 36%;
  }

  #input37 {
    left: 23%;
  }

  #paragraph38 {
    font-size: 17px;
    top: 20%;
    right: 12%;
  }

  #input38 {
    right: 19%;
  }

  #paragraph39 {
    font-size: 17px;
    right: 11%;
  }

  #input39 {
    right: 19%;
  }

  #paragraph40 {
    font-size: 17px;
    right: 11%;
  }

  #input40 {
    right: 19%;
  }
}

@media (max-width: 738px) {
  #Freunde15 {
    top: 78vh;
    right: 8%;
  }

  #Zurück15 {
    top: 78vh;
    left: 8%;
  }
  #paragraph36 {
    font-size: 15px;
    left: 10%;
  }

  #input36 {
    left: 22%;
  }

  #paragraph37 {
    font-size: 15px;
    left: 11%;
  }

  #input37 {
    left: 22%;
  }

  #paragraph38 {
    font-size: 15px;
    right: 12%;
  }

  #input38 {
    right: 19%;
  }

  #paragraph39 {
    font-size: 15px;
    right: 11%;
  }

  #input39 {
    right: 19%;
  }

  #paragraph40 {
    font-size: 15px;
    right: 12%;
  }

  #input40 {
    right: 19%;
  }
}

@media (max-width: 650px) {
  #Headline15 {
    font-size: 16.5px;
  }

  #Freunde15 {
    top: 78vh;
    right: 8%;
  }

  #Zurück15 {
    top: 78vh;
    left: 8%;
  }
  #paragraph36 {
    font-size: 15px;
    left: 15%;
    top: 39%;
    width: 30%;
  }

  #input36 {
    left: 22%;
  }

  #paragraph37 {
    font-size: 15px;
    left: 12%;
  }

  #input37 {
    left: 22%;
  }

  #paragraph38 {
    font-size: 15px;
    right: 12%;
  }

  #paragraph39 {
    font-size: 15px;
    right: 12%;
  }

  #input39 {
    right: 20%;
  }

  #paragraph40 {
    font-size: 15px;
    right: 12%;
  }
}

@media (max-width: 547px) {
  #Headline15 {
    font-size: 15px;
  }

  #Freunde15 {
    top: 78vh;
    right:   8%;
  }

  
  #Zurück15 {
    top: 78vh;
    left:  8%;
  }

  #paragraph36 {
    top: 40%;
    font-size: 15px;
    left: 12%;
  }

  #input36 {
    left: 20%;
  }

  #paragraph37 {
    font-size: 15px;
    left: 11%;
  }

  #input37 {
    left: 20%;
  }

  #paragraph38 {
    font-size: 15px;
    right: 11%;
  }

  #paragraph39 {
    font-size: 15px;
    right: 8%;
    width: 40%;
  }

  #input39 {
    right: 20%;
  }

  #paragraph40 {
    font-size: 15px;
    right: 12%;
  }

  #input40 {
    right: 20%;
  }
}

@media (max-width: 540px) {
  #Headline15 {
    font-size: 16px;
    left: 14%;
    width: 29%;
  }

  
  #Freunde15 {
    top: 78vh;
    right:   8%;
  }

  
  #Zurück15 {
    top: 78vh;
    left:  8%;
  }

  #paragraph38 {
    font-size: 15px;
    right: 11%;
    top: 21%;
    width: 30%;
  }

  #paragraph39 {
    font-size: 15px;
    right: 5%;
    width: 45%;
  }

  #input39 {
    right: 20%;
  }

  #paragraph40 {
    font-size: 15px;
    right: 10%;
  }

  #input40 {
    right: 20%;
  }
}

@media (max-width: 485px) {
  #Freunde15 {
    top: 78vh;
    left: 10%;
  }

  #Zurück15 {
    top: 78vh;
    right: 10%;
  }

  #paragraph36 {
    font-size: 14px;
    width: 38%;
    left: 10%;
  }

  #paragraph37 {
    font-size: 14px;
    top: 61%;
  }

  #paragraph38 {
    font-size: 14px;
    right: 11%;
    top: 21%;
    width: 30%;
  }

  #paragraph39 {
    font-size: 14px;
    right: 9%;
    top: 40%;
    width: 38%;
  }

  #paragraph40 {
    font-size: 14px;
    right: 10%;
    width: 33%;
  }
}

@media (max-width: 360px) {
  #Freunde15 {
    top: 78vh;
    left: 10%;
  }

  #Zurück15 {
    top: 78vh;
    right: 10%;
  }

  #paragraph36 {
    font-size: 13px;
  }

  #paragraph37 {
    font-size: 13px;
    width: 39%;
  }

  #input37 {
    left: 22%;
  }

  #paragraph38 {
    font-size: 13px;
    top: 22%;
  }

  #paragraph39 {
    font-size: 13px;
  }

  #paragraph40 {
    font-size: 13px;
  }
}

@media (max-width: 293px) {
  #paragraph36 {
    font-size: 12px;
    width: 40%;
  }

  #paragraph37 {
    font-size: 12px;
    width: 39%;
    left: 10%;
  }

  #paragraph38 {
    font-size: 12px;
    top: 21%;
    right: 9%;
    width: 40%;
  }

  #input38 {
    right: 22%;
  }

  #paragraph39 {
    font-size: 12px;
  }

  #paragraph40 {
    font-size: 12px;
  }
}

@media (max-width: 228px) {
  #paragraph36 {
    font-size: 10px;
    width: 40%;
  }

  #paragraph37 {
    font-size: 10px;

    width: 39%;
    left: 10%;
  }

  #paragraph38 {
    font-size: 10px;

    top: 21%;
    right: 13%;
    width: 30%;
  }

  #input38 {
    right: 22%;
  }

  #paragraph39 {
    font-size: 10px;
  }

  #paragraph40 {
    font-size: 10px;
  }
}

@media (max-width: 198px) {
  #paragraph36 {
    font-size: 9px;
  }

  #paragraph37 {
    font-size: 9px;

    width: 39%;
    left: 10%;
  }

  #paragraph38 {
    font-size: 9px;

    top: 21%;
    right: 13%;
    width: 30%;
  }

  #input38 {
    right: 22%;
  }

  #paragraph39 {
    font-size: 9px;
  }

  #paragraph40 {
    font-size: 9px;
  }

  #Headline15 {
    font-size: 12px;
    width: 37%;
    left: 10%;
  }
}

@media (max-width: 180px) {
  #paragraph36 {
    font-size: 8.5px;
  }

  #paragraph37 {
    font-size: 8.5px;

    width: 39%;
    left: 10%;
  }

  #paragraph38 {
    font-size: 8.5px;

    top: 21%;
    right: 6.5%;
    width: 46%;
  }

  #input38 {
    right: 22%;
  }

  #paragraph39 {
    font-size: 8.5px;
  }

  #paragraph40 {
    font-size: 8.5px;
  }

  #Headline15 {
    font-size: 10px;
    width: 41%;
    left: 8%;
  }
}

@media (max-width: 165px) {
  #paragraph36 {
    font-size: 8px;
  }

  #paragraph37 {
    font-size: 8px;

    width: 39%;
    left: 10%;
  }

  #paragraph38 {
    font-size: 8px;

    top: 21%;
    right: 10%;
    width: 36%;
  }

  #input38 {
    right: 22%;
  }

  #paragraph39 {
    font-size: 8px;
    width: 24%;
    right: 15%;
  }

  #paragraph40 {
    font-size: 8px;
  }

  #Headline15 {
    font-size: 8.5px;
    text-align: left;
    width: 38%;
    left: 11%;
  }
}
