/* Stil für den #Freunde15 Button */
#Freunde15 {
    position: relative; /* Relative Positionierung für flexibles Layout */
    top: auto; /* Abstand nach oben entfernt */
    right: auto; /* Abstand nach rechts entfernt */
    background-color: initial;
    border: none;
    font-family: "Dancing Script";
    margin: 20px; /* Margin hinzugefügt */
    display: block; /* Als Blockelement dargestellt */
}

/* Stil für den #Zurück15 Button */
#Zurück15 {
    position: relative; /* Relative Positionierung für flexibles Layout */
    top: auto; /* Abstand nach oben entfernt */
    left: auto; /* Abstand nach links entfernt */
    border: none;
    background-color: initial;
    font-family: "Dancing Script";
    margin: 20px; /* Margin hinzugefügt */
    display: block; /* Als Blockelement dargestellt */
}

/* Media Queries für verschiedene Bildschirmgrößen */
@media (max-width: 768px) {
    #Freunde15, #Zurück15 {
        font-size: 14px; /* Schriftgröße reduziert */
        margin: 10px; /* Margin reduziert */
    }
}

@media (max-width: 480px) {
    #Freunde15, #Zurück15 {
        font-size: 12px; /* Schriftgröße weiter reduziert */
        margin: 5px; /* Margin weiter reduziert */
    }
}



#Headline7 {
    position: absolute;
    top: 150px;
    left: 325px;
    text-decoration: underline;
  }
  
  
  #paragraph36 {
    position: relative;
    top: 50px;
    display: inline-block;
    left: 380px;
    font-size: 20px;
  }
  
  
  #input36 {
    position: relative;
    left: 530px;
    top: 45px;
    width: 130px;
  }
  
  
  #paragraph37{
    position: relative;
    top: 30px;
    display: inline-block;
    left: 380px;
    font-size: 20px;
  }
  
  
  #input37 {
    position: relative;
    left: 530px;
    top: 25px;
    width: 130px;
  }
  
  
  #paragraph38 {
    position: relative;
    top: 5px;
    display: inline-block;
    left: 300px;
    font-size: 20px;
  }
  
  
  #input38 {
    position: relative;
    left: 530px;
    top: 0px;
    width: 130px;
  }
  
  
  #paragraph39 {
    position: relative;
    display: inline-block;
    top: -20px;
    left: 390px;
    font-size: 20px;
  }
  
  
  #input39 {
    position: relative;
    left: 530px;
    top: -25px;
    width: 130px;
  }
  
  
  #paragraph40 {
    position: relative;
    top: -45px;
    display: inline-block;
    left: 240px;
    font-size: 20px;
  }
  
  
  #input40 {
    position: relative;
    left: 530px;
    top: -50px;
    width: 130px;
  }