body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}


.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Changed from max-height to height */
  width: 100vw; /* Changed from max-width to width */
  box-sizing: border-box;
}


.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-grow: 1; /* Added to make the main content area flexible */
  box-sizing: border-box;
}