.containerK {
    width: 30%;
    margin: 2rem auto; /* Zentriert und Abstand hinzugefügt */
    position: relative; /* Positionierung geändert */
}


#h1K {
    font-size: 2rem;
    margin: 1rem 0; /* Margin hinzugefügt für Abstand */
    text-align: center; /* Zentriert den Text */
}


.pK {
    text-align: left;
    margin-bottom: 5px;
}


#contact-form {
    text-align: left;
}


.inputK, #textareaK {
    width: 100%;
    padding: 3px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


input[type="submit"] {
    background-color: #00bfff;
    color: white;
    border: 3px solid white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    display: block; /* Block-Display für volle Breite */
    margin: 1rem auto; /* Zentriert den Button */
}


input[type="submit"]:hover {
    background-color: #008fcc;
}


#form-input-position {
    margin-top: 2rem; /* Abstand nach oben */
    width: 80%;
    margin: 0 auto; /* Zentriert das Element */
}


#p-position {
    margin-top: 1rem; /* Abstand nach oben */
    text-align: left; /* Text linksbündig */
}