.containerK {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto; /* Zentriert und Abstand hinzugefügt */
  width: 80%; /* Vergrößert die Breite auf 80% des Containers */
}
#text-section {
  margin-top: 4%;
  flex: 1;
  min-width: 300px; /* Mindestbreite festgelegt */
  margin-right: 2rem; /* Abstand zum rechten Element */
}
#form-section {
  margin-top: 9%;
  flex: 1;
  min-width: 300px; /* Mindestbreite festgelegt */
}
#h1K {
  font-size: 3rem;
  margin: 1rem 0; /* Margin hinzugefügt für Abstand */
  text-align: center; /* Zentriert den Text */
}
.pK {
  text-align: left;
  margin-bottom: 10px;
  font-size: 25px;
}
#contact-form {
  text-align: left;
}
.inputK,
#textareaK {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
}
.submit-button {
  background: none;
  border: none;
  cursor: pointer;
  display: block; /* Block-Display für volle Breite */
  margin: 1rem auto; /* Zentriert den Button */
  width: 100%;
  max-width: 150px;
  text-align: center;
  position: relative;
  padding: 0; /* Entfernt das Padding */
}
.submit-image {
  width: 100%; /* Breite auf 100% gesetzt */
  height: auto;
  border-radius: 7px;
}
#form-input-position {
  width: 100%;
}
#p-position {
  margin-top: 2%; /* Abstand nach oben */
  text-align: left; /* Text linksbündig */
}
.alternativ-text {
  margin-bottom: 1rem; /* Abstand nach unten */
  text-align: left;
  font-size: 25px;
}

@media (max-width: 800px) {
  #text-section {
    margin-right: 0; /* Entfernt rechten Abstand */
    margin-bottom: 2rem; /* Fügt unteren Abstand hinzu */
  }
}

@media (max-width: 749px) {
  #text-section {
    margin-right: 0px; /* Entfernt rechten Abstand */
    margin-bottom: 2rem; /* Fügt unteren Abstand hinzu */
  }

  .containerK {
    width: 90%;
  }
}

@media (max-width: 666px) {
  #text-section {
    margin-right: 10px;
    margin-bottom: 2rem;
    position: relative;
  }

  .alternativ-text {
    font-size: 17px;
  }

  .pK {
    position: relative;

    font-size: 14px;
    width: 100%;
    top: 200px;
    left: -3%;
  }

  #h1K {
    position: relative;
    top: 20px;
    font-size: 30px;
  }

  #contact-form {
    position: relative;
    bottom: 180px;
    left: 52%;
    font-size: 14px;
    width: 40%;
  }

}
