@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.main-content {
    overflow: hidden;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #0E2427;
    width: 100vw;
}


.Book-Background{
    max-height: 80vh;
    width: 100vw;
    opacity: 0.5;
    position: relative;
    right: 80px;
}


.container {
    width: 90vw;
    height: 60vh;
}


.feder{
    transform: scaleX(-1);
    rotate: 17deg;
    width: 20vw;
    height: 70vh;
    margin-left: -4vw;
    opacity: 0.2;
    position: relative;
    right: -160px;
    top: -75px;
}

.checkbox{
    display: block;
    position: absolute;
    bottom: 120px;
    right: 700px;
    list-style: none;
    text-align: right;
}


.Headline {
    position: absolute;
    top: 145px;
    left: 380px;
    font-family: "Dancing Script", cursive;
    border-bottom: 4px solid #fff;
}


.box{
    position: relative;
    top: 2px;
    width: 40px;
}


.paragraph{
    display: inline-block;
    margin-top: 8px;
    font-size: 17px;
    font-family: "Dancing Script", cursive;;
}


#inline{
    display: inline-block;
    position: absolute;
    right: 762px;
    top: 215px;
    font-family: "Dancing Script", cursive;;
}


#inline1{
    display: inline-block;
    position: absolute;
    right: 705px;
    top: 215px;
    font-family: "Dancing Script", cursive;;
}


.liste {
    position: relative;
    right: 2px;
    top: 10px;
}