  .main-content1 {
    overflow: hidden;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100vw;
  }

  .Book-Background1 {
    max-height: 80vh;
    width: 100vw;
    opacity: 1;
    position: relative;
    top: 230px;
    left: 100px;
  }

  .feder1 {
    transform: scaleX(-1);
    rotate: 17deg;
    width: 20vw;
    height: 70vh;
    opacity: 1;
    position: relative;
    bottom: 300px;
    right: 445px;
  }

  .register-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100vw;
    text-align: center;
    color: #0E2E2E;
    position: absolute;
    left: 360px;
    bottom: 150px;
  }
  .Headline {
    font-size: 24px;
    color: #0E2E2E;
    position: absolute;
    left: 100px;
    top: -5px;
  }
  .register-form {
    display: flex;
    flex-direction: column;
  }
  .register-form label {
    text-align: left;
  }
  .input-field {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .register-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .register-button:hover {
    background-color: #0056B3;
  }
  #Zurück {
    position: absolute;
    bottom: 110px;
    left: 320px;
  }
  #Zurück a {
    text-decoration: none;
    color: #007BFF;
  }
  #Zurück a:hover {
    text-decoration: underline;
  }