.main-content1 {
  overflow: hidden;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100vw;
  flex-direction: column; /* Flexrichtung auf Spalte gesetzt */
}


.Book-Background1 {
  position: relative;
  top: 4%;
  left: 10%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
}


.feder1 {
  transform: rotateY(180deg);
  rotate: 20deg;
  width: 30%;
  height: 70%;
  position: absolute;
  bottom: 23%;
  left: 0%;
  opacity: 0.5;
}

.register-container {
  background: white;
  border-radius: 10px;
  color: #0e2e2e;
  position: absolute;
  left: 29.5%;
  bottom: 16%;
  width: 20%;
  height: 42%;
  padding-bottom: 6.5%;
  opacity: 0.8;
}



.confirm-container {
  background: white;
  border-radius: 8%;
  color: #0e2e2e;
  position: absolute;
  left: 29%;
  bottom: 23%;
  width: 25%;
  height: 50%;
  padding: 1%;
  opacity: 0.8;
}


.Headline1 {
  font-size: 24px;
  color: #0e2e2e;
  margin-bottom: 1rem;
  text-align: center;
}


.register-form {
  display: flex;
  flex-direction: column;
}


.register-form label {
  text-align: left;
}


.input-field {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


.register-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}


#Zurück {
  margin-top: 2rem; 
  text-align: center;
}

#Zurück a {
  text-decoration: none;
  color: #007bff;
}

#Zurück a:hover {
  text-decoration: underline;
}



/* Login-Bereich */
.register-container1 {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #0e2e2e;
  position: absolute;
  left: 29.5%;
  top: 25%;
  opacity: 0.8;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: left;
  color: #0e2e2e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
