.footer {
    background-color: #0E2427;
    text-align: center;
    opacity: 0.4;
    overflow-y: visible;
    position : relative;
    bottom: 33px;
}


.footer img {
    width: 100vw;
    height: auto;
}


.nav-bar-down{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 105px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 40vw ;
    height: 10vh;
    position: relative;
    bottom: 27px;
    left: 400px;
}
