.footer {
    background-color: #0E2427;
    text-align: center;
    opacity: 0.9;
    overflow-y: visible;
    width: 100%; 
    position: absolute;
    top:88%; 
}


.footer img {
    width: 100%;  
}


.nav-bar-down {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%; 
    list-style: none;
    width: 100%;
    position: absolute;
    right: 0%;
    font-size: 20px;    
}
