<!DOCTYPE html>

<html lang="de">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Impressum</title>

    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <div class="container">

        <h1>Impressum</h1>

        <div id="content">

            <p>

                Angaben gemäß § 5 TMG:

            </p>

            <p>

                Teamforce One<br>

                <br>

                Vertreten durch: <br>

                Stefan Henke<br>

                Rheinstraße 40 <br>

                47495

                Rheinberg

            </p>

            

            </p>

            <p>

                Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br>

                Stefan Henke<br>

                Rheinstraße 40 <br>

                47495

                Rheinberg

            </p>

            <p>

                Kontakt:<br>

                Telefon:0178/8715208 <br>

                E-Mail: henke.stefan1985@gmail.com

            <p>

                Haftungsausschluss:<br>

                Haftung für Inhalte<br>

                Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.<br>

                Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.

            </p>

        </div>

    </div>

    <script src="script.js"></script>

</body>

</html>