.containerDE {
  overflow: scroll;
  scrollbar-width:unset ;
  overflow-inline:visible;
  display: block;

}

#Allg {
  display: inline-block;
  position: fixed;
  left: 3%;
  top: 15%;
  width: fit-content;
  height: fit-content;

  font-size: 14px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#ZugD {
  display: inline-block;
  position: fixed;
  left: 40%;
  top: 15%;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.ulDE1 {
  position: fixed;
  top: 50%;
  left: 40%;
  width: fit-content;
  height: fit-content;
  list-style: decimal;
  text-align: left;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#Umgang {
  display: inline-block;
  position: fixed;
  left: 3%;
  top: 50%;
  width: fit-content;
  height: fit-content;

  font-size: 13px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.ulDE2 {
  position: fixed;
  top: 72%;
  left: 4%;
  width: fit-content;
  height: fit-content;
  text-align: left;
  list-style: decimal;
  display: inline-block;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

#Rechte {
  display: inline-block;
  position: fixed;
  right: 3%;
  top: 10%;
  height: fit-content;
  width: fit-content;

  font-size: 13px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#Widerspruch {
  display: inline-block;
  position: fixed;
  right: 8%;
  top: 50%;
  width: fit-content;
  height: fit-content;

  font-size: 13px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#Kontaktaufnahme {
  display: inline-block;
  position: fixed;
  right: 0%;
  top: 70%;
  width: fit-content;
  height: fit-content;

  font-size: 13px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#Speicherung {
  display: inline-block;
  position: fixed;
  right: 10%;
  top: 60%;
  width: fit-content;
  height: fit-content;

  font-size: 13px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#Änderungen {
  display: inline-block;
  position: fixed;
  right: 25%;
  top: 70%;
  width: fit-content;
  height: fit-content;

  font-size: 13px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#Löschung {
  display: inline-block;
  position: fixed;
  right: 50%;
  top: 70%;
  width: fit-content;
  height: fit-content;

  font-size: 13px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
