.main-content {
    overflow: hidden;
    max-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* padding: 20px 0; */
    background-color: #0E2427;
    width: 100vw;
    
}


.Book-Background{
    height: 100%;
    max-height: 80vh;
    width: 80vw;
}


.feder{
    transform: scaleX(-1);
    rotate: 17deg;
    width: 20vw;
    height: 60vh;
    margin-left: 5vw;
}

.container {
    width: 90vw;
    height: 60vh;
}